# install from setup.py
.

# dev overrides/additional libraries
-e git+https://github.com/ckan/ckanext-spatial.git#egg=ckanext-spatial
-e git+https://github.com/ckan/ckanext-viewhelpers.git#egg=ckanext_viewhelpers
-e git+https://github.com/ckan/ckanext-dcat.git#egg=ckanext_dcat
-e git+https://github.com/ckan/ckanext-pdfview.git#egg=ckanext_pdfview
-e git+https://github.com/NaturalHistoryMuseum/ckanext-contact.git@ckan-upgrade-2.8.0a#egg=ckanext-contact
-e git+https://github.com/NaturalHistoryMuseum/ckanext-doi.git@ckan-upgrade-2.8.0a#egg=ckanext-doi
-e git+https://github.com/NaturalHistoryMuseum/ckanext-gallery.git@ckan-upgrade-2.8.0a#egg=ckanext-gallery
-e git+https://github.com/NaturalHistoryMuseum/ckanext-userdatasets.git@ckan-upgrade-2.8.0a#egg=ckanext-userdatasets
-e git+https://github.com/NaturalHistoryMuseum/ckanext-ldap.git@ckan-upgrade-2.8.0a#egg=ckanext-ldap
-e git+https://github.com/NaturalHistoryMuseum/ckanext-graph.git@ckan-upgrade-2.8.0a#egg=ckanext-graph
-e git+https://github.com/NaturalHistoryMuseum/ckanext-ckanpackager.git@ckan-upgrade-2.8.0a#egg=ckanext-ckanpackager
-e git+https://github.com/NaturalHistoryMuseum/ckanext-video.git@ckan-upgrade-2.8.0a#egg=ckanext_video
-e git+https://github.com/NaturalHistoryMuseum/ckanext-gbif.git@ckan-upgrade-2.8.0a#egg=ckanext_gbif
-e git+https://github.com/NaturalHistoryMuseum/ckanext-statistics.git@ckan-upgrade-2.8.0a#egg=ckanext_statistics
-e git+https://github.com/NaturalHistoryMuseum/ckanext-list.git@ckan-upgrade-2.8.0a#egg=ckanext_list
-e git+https://github.com/NaturalHistoryMuseum/ckanext-status.git@ckan-upgrade-2.8.0a#egg=ckanext_status
-e git+https://github.com/NaturalHistoryMuseum/ckanext-twitter.git@ckan-upgrade-2.8.0a#egg=ckanext_twitter
-e git+https://github.com/NaturalHistoryMuseum/ckanext-sketchfab.git@upgrade/main#egg=ckanext_sketchfab
-e git+https://github.com/NaturalHistoryMuseum/ckanext-versioned-datastore.git@upgrade/main#egg=ckanext_versioned_datastore
-e git+https://github.com/NaturalHistoryMuseum/ckanext-versioned-tiledmap.git@upgrade/main#egg=ckanext_versioned_tiledmap
-e git+https://github.com/NaturalHistoryMuseum/ckanext-query-dois.git@upgrade/main#egg=ckanext_query_dois
-e git+https://github.com/NaturalHistoryMuseum/eevee.git@v1.0.2#egg=eevee