PyYAML==3.10
amqp==1.4.0
anyjson==0.3.3
billiard==3.3.0.13
celery==3.1.7
-e git+https://github.com/NaturalHistoryMuseum/ckanext-map.git#egg=ckanext-map
-e git+https://github.com/NaturalHistoryMuseum/ckanext-contact.git#egg=ckanext-contact
-e git+https://github.com/NaturalHistoryMuseum/ckanext-doi.git#egg=ckanext-doi
-e git+https://github.com/NaturalHistoryMuseum/ckanext-ga-report.git#egg=ckanext-ga-report
-e git+https://github.com/NaturalHistoryMuseum/ckanext-gallery.git#egg=ckanext-gallery
-e git+https://github.com/NaturalHistoryMuseum/ckanext-userdatasets.git#egg=ckanext-userdatasets
-e git+https://github.com/NaturalHistoryMuseum/ckanext-ldap.git#egg=ckanext-ldap
-e git+https://github.com/NaturalHistoryMuseum/ckanext-graph.git#egg=ckanext-graph
-e git+https://github.com/NaturalHistoryMuseum/ckanext-ckanpackager.git#egg=ckanext-ckanpackager
-e git+https://github.com/okfn/ckanext-spatial.git@7c2b42693d097884ee4fbb10625274763d0b89a7#egg=ckanext-spatial
-e git+https://github.com/okfn/ckanext-issues.git#egg=ckanext-issues
-e git+https://github.com/NaturalHistoryMuseum/ckanext-feedback.git#egg=ckanext_feedback
pytz==2013.9
python-memcached==1.53