{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('stats_datasets', _('Datasets')) }}
  {{ h.build_nav_icon('stats_contributors', _('Contributors')) }}
  {{ h.build_nav_icon('stats_records', _('Records')) }}
{% endblock %}

{% block secondary %}

  <aside class="secondary">
    {% block secondary_content %}
        {% snippet 'about/snippets/menu.html' %}
    {% endblock %}
  </aside>

{% endblock %}

{% block primary_content_inner %}

    {% block stats_content %}

    {% endblock %}

{% resource "vendor/block_html5_shim" %}
{% resource "ckanext_stats/stats" %}

{% endblock %}