{% extends "stats/base.html" %}

{% block breadcrumb_content %}
    {{ super() }}
    <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.stats:StatsController', action='contributors' %}</li>
{% endblock %}

{% block stats_content %}

    <section id="stats-total-contributors">

      <h4>{{ _('Total number of contributors') }}</h4>

      {% set xaxis = {'mode': 'time', 'timeformat': '%d-%m-%y'} %}
      {% set yaxis = {'min': 0, 'tickDecimals': 0} %}
      <table class="table table-chunky table-bordered table-striped" data-module="plot" data-module-xaxis="{{ h.dump_json(xaxis) }}" data-module-yaxis="{{ h.dump_json(yaxis) }}">
        <thead>
          <tr>
            <th>{{ _("Date") }}</th>
            <th>{{ _("Contributors") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in c.num_contributors %}
            <tr>
              <th data-type="date" data-value="{{ row.date.strftime("%s") }}"><time datetime="{{ row.date.isoformat() }}">{{ h.render_datetime(row.date) }}</time></th>
              <td>{{ row.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    <section id="stats-contributors">
      <h4>{{ _('Contributors') }}</h4>

      <table class="table table-chunky table-bordered table-striped">
        <thead>
          <tr>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Number of datasets") }}</th>
          </tr>
        </thead>
        <tbody>

          {% for row in c.contributors %}
              {% set name = '%s (%s)' % (row['fullname'], row['name']) if row['fullname'] else row['name'] %}

            <tr>
              <th><a href="{{ h.url_for(controller='package', action='search', creator_user_id=row['user_id']) }}">{{ name }}</a></th>
              <td>{{ row['count'] }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </section>

{% endblock %}