{% extends "stats/base.html" %}

{% block breadcrumb_content %}
    {{ super() }}
    <li class="active">{% link_for _(title), controller='statistics', action='resources' %}</li>
{% endblock %}


{% block stats_content %}

    <section id="stats-total-resources">

      <h4>{{ _('Total number of resources') }}</h4>
      <div data-module="graph" data-module-data="{{ h.dump_json(g.graph_data) }}" data-module-config="{{ h.dump_json(g.graph_options) }}" style="width:100%; height:300px;"></div>
      {% resource 'ckanext-graph/main' %}

    </section>

{% endblock %}