{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.about:AboutController', action='citation' %}</li>
{% endblock %}

{% block about_content %}

    {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
    {% set api_doc_link = h.api_doc_link() %}


    <h1 class="page-heading">{{ title }}</h1>

    <p>If you use our data, we strongly encourage you to cite or attribute this work as you would any other scientific research (even if the license does not implicitly require you to).</p>
    <p>Many of the datasets are the result of a huge amount of time and effort invested by Museum staff and collaborators. Some represent an individual’s work over many decades. Citing these data allows us to measure the impact of the research and encourages others to deposit their data through the portal.</p>

    <img class="pull-right" id="datacite" src="/images/datacite.jpg" alt="Datacite" />

    <div class="row">
        <div class="span6">
            <h4>Digital Object Identifier (DOI)</h4>
            <p>All of our datasets our assigned a DOI, a persistent digital identifier used to uniquely identify the dataset.  Our DOIs are provided by the <a target="_blank" href="http://www.bl.uk/aboutus/stratpolprog/digi/datasets/datacitefaq/faqhome.html" class="external">British Library's DataCite service.</a></p>
            <p>Please use the DOI in all citations.</p>
            <h4>Preferred citation format</h4>
            <p class="about-doi">Scott, B., & Smith , V. Dataset title Natural History Museum. http://doi:1.2.3.4/56789</p>
        </div>

    </div>




{% endblock %}