{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), named_route='home.about' %}</li>
  <li class="active">{% link_for _(title), named_route='about.citation' %}</li>
{% endblock %}

{% block about_content %}
    <h1 class="page-heading">{{ title }}</h1>

    <p>
        If you use our data, we strongly encourage you to cite or reference this work as you would
        any other scientific research (even if the license does not explicitly require you to).
    </p>
    <p>
        Many of the datasets are the result of a huge amount of time and effort invested by Museum
        staff and collaborators. Some represent an individual’s work over many decades. Citing these
        data allows us to measure the impact of the research and encourages others to deposit their
        data into the portal.
    </p>

    <h2>What to cite</h2>
    <p>
        There are a few different ways of citing our data, depending on the material being referenced.
    </p>
    <p>Datasets and versioned queries have unique <i>Digital Object Identifiers</i> (DOIs) provided by the <a class="external" target="_blank" href="https://bl.uk/datacite">British Library's DataCite Service</a>. Please use these if you cite these materials in your work.</p>

    <h3>1. Datasets</h3>
    <p>
        A single, complete dataset: e.g. the DOI <a href="https://doi.org/10.5519/hay2d5yo">10.5519/hay2d5yo</a> references the <a href="/dataset/join-the-dots-collection-level-descriptions">Join the Dots</a> dataset (including all resources therein).
    </p>
    <p>
        Each dataset overview page will have a 'Cite this as' section with an APA-style reference you can copy, or you can download the BibTeX reference from DataCite using the "BibTeX" button.
    </p>
    <div class="citation-string">
        <u>Author, A., Author, B.</u>. (<u>Year</u>). <u><i>Dataset name</i></u> [Data set]. Natural History Museum. https://doi.org/<u>doi</u>
    </div>

    <h3>2. Resources</h3>
    <p>We don't currently provide separate DOIs for resources, so if you cite a single resource use the standard URL. As with datasets, each resource overview page has an APA-style example reference that can be copied.</p>
    <div class="citation-string">
        <u>Author, A., Author, B.</u>. (<u>Year</u>). <u><i>Resource name</i></u> (from <u><i>Dataset name</i></u>) [Data set]. Natural History Museum. https://data.nhm.ac.uk/dataset/<u>dataset-id</u>/resource/<u>resource-id</u>
    </div>

    <h3>3. Records</h3>
    <p>Records have shorter <code>/record/</code> URLs that redirect to their summary page. You can cite the version as it was when you initially retrieved it or omit the version ID to always display the most up-to-date record. Both URLs can be found in the 'Cite this as' section at the bottom of the record page.</p>
    <div class="citation-string">
        <u>Author, A., Author, B.</u>. (<u>Year</u>). <u><i>Record name</i></u> (from <u><i>Dataset name</i></u>, <u><i>Resource name</i></u>) [Data set record]. Natural History Museum. https://data.nhm.ac.uk/record/<u>resource-id</u>/<u>record-id</u>/<u>version</u>
    </div>

    <p>Records from the <i>Specimens</i> resource can also use special <code>/object/</code> or <code>/specimen/</code> URLs, which are even shorter. These are found in the 'Cite this as' section instead of the standard <code>/record/</code> URLs.</p>
    <div class="citation-string">
        Natural History Museum. (<u>Year updated</u>). <u><i>Record name</i></u> (from <i>Collection specimens</i>) [Data set record]. Natural History Museum. https://data.nhm.ac.uk/object/<u>occurrence-id</u>/<u>version</u>
    </div>

    <h3>4. Specimen Images</h3>
    <p>All images in the <i>Specimens</i> resource are shared under a <a href="https://creativecommons.org/licenses/by/4.0/" class="external">Creative Commons Attribution 4.0 International (CC BY 4.0) License</a>, see link for terms and conditions.</p>
    <p>An APA-style citation suitable for basic image re-use is given below. The URL at the end of the citation relates to the specimen featuring in the image and can be found in the 'Cite this as' section at the bottom of the specimen record page. The <a href="https://wiki.creativecommons.org/wiki/best_practices_for_attribution" class="external"> Creative Commons wiki</a> gives additional guidance on ways to attribute modified or adapted images.</p>
    <div class="citation-string">
        Natural History Museum. (<u>Year updated</u>). <u><i>Image title</i></u> (from <i>Collection specimens</i>) [Photograph]. Natural History Museum. Licensed under CC-BY-4.0 (https://creativecommons.org/licenses/by/4.0). https://data.nhm.ac.uk/object/<u>occurrence-id</u>/<u>version</u>
    </div>

    <h3>5. Searches</h3>
    <p>You can cite results generated from the <a href="{{ h.url_for('search.view') }}">integrated search</a>. Clicking the "Cite" button and entering an email address will generate a DOI for the search. All records within the search are versioned. This allows you to cite subsets of resources, multiple datasets, and exact versions of multiple records.</p>
    <p>Downloads generated from a search (from either interface) will include a DOI to uniquely identify that search.</p>
    <div class="citation-string">
        Natural History Museum. (<u>Year</u>). <i>Query on the Natural History Museum Data Portal (data.nhm.ac.uk) (<u>n</u> records)</i> [Data set]. Natural History Museum. https://doi.org/<u>doi</u>
    </div>

    <h3>6. The Data Portal</h3>
    <p>Only cite the Portal directly if you are referencing a non-data aspect of the website, e.g. discussing the concept in general.</p>
    <p>The principles, impetus, and technical details of the initial development of the Data Portal are described in <i>The Natural History Museum Data Portal</i> (Scott et al., 2019). Read it here: <a href="https://doi.org/10.1093/database/baz038" class="external">https://doi.org/10.1093/database/baz038</a></p>
    <p>Implementations of specific features can be found on our <a href="https://github.com/NaturalHistoryMuseum">GitHub</a> repositories, so if you wish to reference code then it may be better to target these specifically.</p>

{% endblock %}
