{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.about:AboutController', action='credits' %}</li>
{% endblock %}

{% block about_content %}
    <h1 class="page-heading">{{ title }}</h1>

<p>The Data Portal has been developed by the Museum’s <a title="Biodiversity Informatics Group" href="http://www.nhm.ac.uk/research-curation/research/informatics/team/index.html">Biodiversity Informatics Group</a>, with the help and support of teams throughout the Museum.</p>
<p>Project members:</p>

<ol id="credits">
    <li>Vince Smith - Principal investigator</li>
    <li>Ben Scott - Lead architect</li>
    <li>Alice Heaton - Senior developer</li>
    <li>Andy Allan - Developer</li>
    <li>Laurence Livermore - Digital analyst</li>
    <li>Yuki Geali - Information architecture/user experience</li>
    <li>Hayley Dunning and Lucy Brooks - Copy writing</li>
    <li>Chris Sleep -  Technical consultant</li>
    <li>Dave Thomas, Darrell Siebert and Adrian Hine - Project board</li>
</ol>

<p>The Data Portal is a window onto the Museum’s research and collections data, and is the result of decades of work from the Museum's science staff.</p>

<h4>Open source</h4>

<p>The Data Portal is built with CKAN, an open-source data-publishing platform.</p>
<p>The Museum has extended and customised CKAN, and this code is licensed under the terms of the <a target="_blank" title="GNU GPL v3.0" href="http://www.gnu.org/licenses/agpl-3.0.html">GNU GPL v3.0</a>, and available from <a title="the Natural History Museum’s Github account" href="https://github.com/NaturalHistoryMuseum">the Natural History Museum’s code repository</a>.</p>


{% endblock %}
