{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('About'), named_route='home.about' %}</li>
    <li class="active">{% link_for _(title), named_route='about.credits' %}</li>
{% endblock %}

{% block about_content %}
    <h1 class="page-heading">{{ title }}</h1>

    <p>The Data Portal has been developed by the Museum’s <a
            href="https://www.nhm.ac.uk/our-science/departments-and-staff/life-sciences/diversity-informatics.html">Biodiversity
                                                                                                                    Informatics</a>
       group, with the help and support of teams throughout the Museum. It is a window into the
       Museum’s research and collections data, and is the result of decades of work by the Museum's
       science staff.</p>
    <br>
    <table class="blocks-table">
        <tr>
            <th class="blocks-table-header">
                <span>Developers</span>
            </th>
            <td class="flex-container flex-wrap flex-wrap-spacing">
                <a href="https://github.com/jrdh" class="blocks-table-cell">
                    <strong>Josh Humphries</strong>
                    <small>Technical Lead</small>
                </a>
                <a href="https://github.com/alycejenni" class="blocks-table-cell">
                    <strong>Ginger Butcher</strong>
                    <small>Software Engineer</small>
                </a>
            </td>
        </tr>
    <tr>
        <th class="blocks-table-header">
            <span>Product Team</span>
        </th>
        <td class="flex-container flex-wrap flex-wrap-spacing">
            <a href="https://www.nhm.ac.uk/our-science/departments-and-staff/staff-directory/vincent-smith.html"
                    class="blocks-table-cell">
                <strong>Vince Smith</strong>
                <small>Head of Informatics</small>
            </a>
            <a href="https://www.nhm.ac.uk/our-science/departments-and-staff/staff-directory/matt-woodburn.html"
                    class="blocks-table-cell">
                <strong>Matt Woodburn</strong>
                <small>Data Architect</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Pippa Gittings</strong>
                <small>Digital Media Product Manager</small>
            </a>
            <a href="https://www.nhm.ac.uk/our-science/departments-and-staff/staff-directory/helen-hardy.html"
                    class="blocks-table-cell">
                <strong>Helen Hardy</strong>
                <small>Digital Collections Programme Manager</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Christopher Hopkins</strong>
                <small>Systems Development & Operations</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>David Smith</strong>
                <small>Data Manager</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Al Turner</strong>
                <small>Digital Science Product and Services Manager</small>
            </a>
        </td>
    </tr>
    <tr>
        <th class="blocks-table-header">
            <span>Past Team</span>
        </th>
        <td class="flex-container flex-wrap flex-wrap-spacing">
            <a href="#" class="blocks-table-cell">
                <strong>Alice Heaton</strong>
                <small>Senior Developer</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Andy Allan</strong>
                <small>Developer</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Laurence Livermore</strong>
                <small>Digital Analyst</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Yuki Geali</strong>
                <small>Information Architecture/UX</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Hayley Dunning</strong>
                <small>Copywriter</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Lucy Brooks</strong>
                <small>Copywriter</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Chris Sleep</strong>
                <small>Technical Consultant</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Dave Thomas</strong>
                <small>Product Board</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Darrell Siebert</strong>
                <small>Product Board</small>
            </a>
            <a href="#" class="blocks-table-cell">
                <strong>Adrian Hine</strong>
                <small>Product Board</small>
            </a>
            <a href="https://github.com/PaulKiddle" class="blocks-table-cell">
                <strong>Paul Kiddle</strong>
                <small>Developer</small>
            </a>
            <a href="https://www.nhm.ac.uk/our-science/departments-and-staff/staff-directory/ben-scott.html"
                    class="blocks-table-cell">
                <strong>Ben Scott</strong>
                <small>Developer, Early Phase Technical Lead</small>
            </a>
            <a href="https://github.com/essvee" class="blocks-table-cell">
                <strong>Sarah Vincent</strong>
                <small>Data Analyst</small>
            </a>
        </td>
    </tr>
    </table>
    <hr>

    <h2>Open source</h2>

    <p>The Data Portal is built with <a href="https://ckan.org">CKAN</a>, an open-source
       data-publishing platform.</p>
    <p>The Museum has contributed to core CKAN and created several extensions to enhance its
       functionality. This code is licensed under the terms of the <a
                href="http://www.gnu.org/licenses/agpl-3.0.html">GNU GPL v3.0</a>.
    </p>
    <p>All our open-source code can be found on <a href="https://github.com/NaturalHistoryMuseum"
            title="the Museum's GitHub profile">GitHub</a> (CKAN extensions <a
            href="https://github.com/NaturalHistoryMuseum?q=ckanext"
            title="NHM ckanext repos on GitHub" aria-label="NHM ckanext repos on GitHub">here</a>).
    </p>

{% endblock %}
