{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.about:AboutController', action='data_usage' %}</li>
{% endblock %}

{% block about_content %}

    {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
    {% set api_doc_link = h.api_doc_link() %}

    <h1 class="page-heading">{{ title }}</h1>

    <h4>Licensing</h4>
    <p>As a public institution we publish all data under a [TBC] license to encourage the data submission and exchange. However, other licenses may be used for some datasets, for example a specific licence will be used when the Museum is not the sole copyright owner.</p>
    <p>Learn more about the [Museum’s data policies].</p>

    <h4>Attribution</h4>
    <p>If you use our data, we encourage you to cite or attribute this work as you would any other scientific research (even if the license does not implicitly require you to). Many Museum datasets are the result of a huge amount of time and effort invested by Museum staff and collaborators. Some represent an individual’s work over many decades. Citing these data allows us to measure the impact of the research and encourages others to deposit their data through the portal.</p>

    <h4>Preferred citation format</h4>
    <p>All datasets are assigned a DOI. Please use this in all citations.</p>
    <p class="about-doi">Scott, B., & Smith , V. Dataset title Natural History Museum. http://doi:1.2.3.4/56789</p>

    <h4>Data download</h4>
    <p>Datasets can be downloaded via the download button on the dataset page. The portal will process download requests, package up the dataset, and email a link to the newly create data package. The downloadable data format is dependent on the data type of each dataset. For the collections dataset this will be as a Darwin Core Archive.</p>

    <h4>API</h4>
    <p>The data portal provides a {{ api_link }} to access datasets.</p>

    {% if c.userobj %}
        <p>To access the API, you will need <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">your API key</a>.</p>
    {% else %}
        <p>To access the API, please <a href="{{ h.url_for(controller='user', action='register') }}" title="{{ _('Sign up') }}">sign up for an account</a>, to obtain an API key.</p>
    {% endif %}

    <p>For all datasets, the API will return data in JSON format.</p>
    <p>Full documentation on the API is available - see {{ api_doc_link }} [TODO].</p>

{% endblock %}