{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.about:AboutController', action='download' %}</li>
{% endblock %}

{% block about_content %}

    {{ h.url_for(controller='api', action='get_api', ver=3) }}

{#    {% set api_absolute_link = h.absolute_url_for(controller='api', action='get_api', ver=3) %}#}
    {% set api_link = h.link_to(api_absolute_link, h.url_for(controller='api', action='get_api', ver=3), target='_blank') %}
    {% set api_doc_link = h.api_doc_link() %}

    <h1 class="page-heading">{{ title }}</h1>

    <p>Datasets can be downloaded via the download button on the dataset page.</p>
    <p>The portal will process the download request, package up the dataset, and email a link to download the data package.  If you have not created an account on the Data Portal, you will need to enter your email address</p>
    <p>The data format of the download package is dependent on the dataset data type. For the collections dataset this will be as a Darwin Core Archive.</p>

    <h4>API</h4>
    <p>The data portal provides an API to access the data catalogue.</p>

    <p>The base URL for the API is:  {{ api_link }} </p>

    {% if c.userobj %}
        <p>To access the API, you will need <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" title="{{ _('View profile') }}">your API key</a>.</p>
    {% else %}
        <p>To access the API, please <a href="{{ h.url_for(controller='user', action='register') }}" title="{{ _('Sign up') }}">sign up for an account</a>, to obtain an API key.</p>
    {% endif %}

    <p>The API provides a RESTful interface, returning data in JSON format.</p>
    <p>Please read the {{ api_doc_link }} for full documentation on API methods.</p>

    <h4>API limits</h4>
    <p>Please use common sense when using the API, and cache results wherever possible.  We reserve the right to suspend API access for accounts which continuously make multiple calls per second.</p>
    <p>Please see our <a href="/terms-conditions" title="Terms and conditions">Terms and Conditions</a> for more information.</p>

{% endblock %}