{% ckan_extends %}

{% block extras %}

    {% set temporal_extent = pkg_dict.get('temporal_extent', None) %}
    {% set update_frequency = pkg_dict.get('update_frequency', None) %}
    {% set dataset_type = pkg_dict.dataset_type.pop() if pkg_dict.dataset_type else None %}

    {% if temporal_extent %}
        <tr>
            <th scope="row" class="dataset-label">{{ _("Temporal extent") }}</th>
            <td class="dataset-details">{{ temporal_extent }}</td>
        </tr>
    {%  endif %}

    {% if update_frequency %}
        <tr>
            <th scope="row" class="dataset-label">{{ _("Update frequency") }}</th>
            <td class="dataset-details">{{ update_frequency }}</td>
        </tr>
    {%  endif %}

    {% if dataset_type %}
        <tr>
            <th scope="row" class="dataset-label">{{ _("Dataset type") }}</th>
            <td class="dataset-details">{{ dataset_type }}</td>
        </tr>
    {%  endif %}

    <tr>
        <th scope="row">{{ _('Last updated') }}</th>
        <td>{{ h.render_datetime(pkg_dict.last_modified) or h.render_datetime(pkg_dict.revision_timestamp) or h.render_datetime(pkg_dict.created) or _('unknown') }}</td>
        </tr>
    <tr>
        <th scope="row">{{ _('Created') }}</th>
        <td>{{ h.render_datetime(pkg_dict.metadata_created) or _('unknown') }}</td>
        </tr>
    <tr>
        <th scope="row">{{ _('License') }}</th>
        <td>{% snippet "snippets/license.html", pkg_dict=pkg_dict, text_only=True %}</td>
        </tr>

{% endblock %}