{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}

      <section class="module module-narrow module-shallow">

        <h2 class="module-heading"><i class="fa fa-medium fa-eye-open"></i> {{ _('Update alerts') }}</h2>

           <div class="module-content">
                <p>Follow <a target="_blank" href="https://twitter.com/nhm_data">@NHM_DATA</a> to receive alerts when this dataset is updated.</p>
           </div>

      </section>


  {% endif %}
{% endblock %}
