{#Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

{% snippet "package/snippets/info.html", pkg=g.pkg %}

#}{% block package_info %}{% if g.pkg %}

<section class="module module-narrow module-shallow">
    <div class="flex-container flex-between flex-stretch-first nav-simple-heading">
        <h2 class="module-heading"><i class="fas fa-bell inline-icon-left"></i>{{
                                                                               _('Update
                                                                               alerts') }}
        </h2>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#nav-alerts" aria-expanded="false">
            <span class="sr-only">expand</span>
        </button>
    </div>


    <ul class="nav nav-simple navbar-collapse collapse" id="nav-alerts">
        <li class="nav-item">
            <p>Follow <a target="_blank" href="https://twitter.com/nhm_data">@NHM_Data</a> to
           receive alerts when this dataset is updated.</p>
        </li>
    </ul>

</section>


{% endif %}{% endblock %}
