{% ckan_extends %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Abstract'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, is_required=true) }}
{% endblock %}

{% block package_basic_fields_custom %}

  <div class="control-group">
    <label class="control-label" for="field-category">{{ _("Dataset category") }}</label>
    <div class="controls">
      <select id="field-category" name="category" data-module="autocomplete">
        {% for category in h.dataset_categories()  %}
          <option value="{{ category }}" {% if category in data.get('category', []) %}selected="selected"{% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{{ form.input('temporal_extent', label=_('temporal_extent'), id='field-temporal-extent', placeholder=_('temporal extent'), value=data.temporal_extent, error=errors.temporal_extent, classes=['control-medium']) }}

{% endblock %}