{% ckan_extends %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Abstract'), placeholder=_('eg. An abstract describing the data'), value=data.notes, error=errors.notes, is_required=true) }}
  {# Moved authors to here as it's now a required field - the final step is skippable #}
  {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'], is_required=true) }}
{% endblock %}

{% block package_basic_fields_tags %}

 {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
 {{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. taxonomy, biodiversity'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

  <div class="control-group">
    <label class="control-label" for="field-category">{{ _("Dataset category") }}</label>
    <div class="controls">
      <select id="field-category" name="category" data-module="autocomplete">
        <option value="">None</option>
        {% for category in h.dataset_categories()  %}
          <option value="{{ category }}" {% if category in data.get('category', []) %}selected="selected"{% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{# I don't know why, but CKAN doesn't like custom fields being in the metadata stage of the form - this hack fixes it. TODO: Investigate futher.  #}
{{ form.hidden('temporal_extent', value=data.temporal_extent) }}

{% endblock %}