{% ckan_extends %}

{% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}
{% endblock %}

{% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Abstract'), placeholder=_('eg. An abstract describing the data'), value=data.notes, error=errors.notes, is_required=true) }}
  {# Moved authors to here as it's now a required field - the final step is skippable #}
  {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'], is_required=true) }}
{% endblock %}

{% block package_basic_fields_tags %}

 {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
 {{ form.input('tag_string', id='field-tags', label=_('Keywords'), placeholder=_('eg. taxonomy, biodiversity'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

  <div class="control-group">
    {% set error = errors.dataset_type %}
    <label class="control-label" for="field-dataset-type">{{ _("Dataset type") }}</label>
    <div class="controls">

      <select id="field-dataset-type" name="dataset_type" data-module="autocomplete">
        <option value="">None</option>
        {% for dataset_type in h.dataset_types()  %}
          <option value="{{ dataset_type }}" {% if dataset_type in data.get('dataset_type', []) %}selected="selected"{% endif %}>{{ dataset_type }}</option>
        {% endfor %}
      </select>

      {% if error %}<span class="error-block">{{ error[0] }}</span>{% endif %}

    </div>
  </div>

{% endblock %}