{# Added to resource_view_filters.html - full text search #}

{% set placeholder = _('Enter search text') %}
{% set q = request.str_GET.get('q') or '' %}
{% set action = h.url_for(controller='package', action='resource_read', id=package['name'], resource_id=resource['id'], view_id=resource_view['id'], filters=filter) %}


<form class="module-content search-form" method="get">
    <div class="search-input control-group">
      <input type="text" class="search" name="q" autocomplete="off" value="{{ q.decode('utf-8') }}" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <input type="hidden" name="view_id" value="{{ resource_view['id'] }}" />
      {% if filters %}
          <input type="hidden" name="filters" value="{{ filters }}" />
      {% endif %}
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
</form>
