<div id="view-{{ resource_view['id'] }}" class="resource-view" data-id="{{ resource_view['id'] }}" data-title="{{ resource_view['title'] }}" data-description="{{ resource_view['descripion'] }}">
  <div class="m-top ckanext-datapreview">

    {% if not to_preview and h.resource_view_is_filterable(resource_view) %}
      {% snippet 'package/snippets/resource_view_search.html', resource_view=resource_view, resource=resource, package=package %}
    {% endif %}

    {% if not to_preview and h.resource_view_is_filterable(resource_view) %}
      {% if h.is_datasolr_resource(resource['id']) %}
        {% set facets = h.get_resource_facets(resource) %}
        {% set extras = {
          'id': package.id,
          'resource_id': resource.id
        } %}
      {% endif %}

    <div class="{% if facets %}row ckanext-datapreview-faceted{% endif %}">

      {% if facets %}
        <div class="span3 resource-view-facets">

            <div
              class="resource-view-filter-options"
              data-module="resource-view-filter-options"
              data-module-resource-id="{{ resource['id'] }}"
              data-module-filter-options="{{ h.dump_json(h.get_resource_filter_options(resource)) }}"
              >
            </div>

          {% for facet in facets %}
              <section class="module module-narrow module-shallow no-margin">
              <h2 class="module-heading">
                <i class="icon-medium icon-filter"></i>
                {{ facet.label }}
              </h2>
              {% if facet.facet_values %}
                <nav>
                  <ul class="unstyled nav nav-simple nav-facet">
                    {% for item in facet.facet_values %}
                       {% set href = h.remove_url_filter(facet.name, item.name, extras=extras) if facet.active else h.add_url_filter(facet.name, item.name, extras=extras) %}
                        <li class="nav-item{% if facet.active %} active{% endif %}">
                            <a href="{{ href }}" title="{{ item.label }}">
                                <span>{{ item.label|title }} ({{ item.count }})</span>
                            </a>
                        </li>
                    {% endfor %}
                  </ul>
                </nav>
                {% if not facet.active %}
                    <p class="module-footer">
                        {% if h.get_param_int('_%s_limit' % facet.name) %}
                          {% if facet.has_more %}
                            <a href="{{ h.remove_url_param('_%s_limit' % facet.name, replace=0, extras=extras) }}"
                               class="read-more">Show more <i class="icon-plus-sign"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ h.remove_url_param('_%s_limit' % facet.name, extras=extras) }}"
                               class="read-more">Show less <i class="icon-minus-sign"></i></a>
                        {% endif %}
                    </p>
                  {% endif %}
            {% else %}
              <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=facet.label) }}</p>
                {% endif %}
              </section>
          {% endfor %}
        </div>

        <div class="span9">
          {% snippet 'package/snippets/resource_view_rendered.html', resource_view=resource_view, resource=resource, package=package %}
        </div>
      {% else %}
         {% snippet 'package/snippets/resource_view_rendered.html', resource_view=resource_view, resource=resource, package=package %}
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>

{% resource 'ckanext-nhm/resource-view-filter-options' %}
