{% if res.url %}
  {% if res.resource_type in ('listing', 'service') %}
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        <i class="fas fa-eye"></i> {{ _('View') }}
    </a>
  {% elif res.resource_type == 'api' %}
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        <i class="fas fa-key"></i> {{ _('API Endpoint') }}
    </a>
  {% elif h.downloadable(res) %}
    {% snippet 'versioned_datastore/snippets/download_button.html', resources=res.id, query="FROM URL" if res.datastore_active else {}, icon_class="fas fa-cloud-download-alt", label=_('Download'), non_datastore=not res.datastore_active %}
  {% else %}
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        <i class="fas fa-external-link-alt"></i> {{ _('Go to resource') }}
    </a>
  {% endif %}
{% endif %}
