{% set extras = {
  'id': package.id,
  'resource_id': resource.id
} %}

<div class="col-md-3 resource-view-facets">

    <div class="resource-view-filter-options" data-module="resource-view-filter-options"
            data-module-resource-id="{{ resource['id'] }}"
            data-module-filter-options="{{ h.dump_json(h.get_resource_filter_options(resource, resource_view)) }}"></div>

  {% for facet in facets %}
      <section class="module module-narrow module-shallow no-margin">
      <h2 class="module-heading">
        <i class="icon-medium icon-filter"></i>
        {{ facet.label }}
      </h2>
      {% if facet.facet_values %}
        <nav>
          <ul class="unstyled nav nav-simple nav-facet">
            {% for item in facet.facet_values %}
               {% set href = h.remove_url_filter(facet.name, item.name, extras=extras) if item.active else h.add_url_filter(facet.name, item.name, extras=extras) %}
                <li class="nav-item{% if item.active %} active{% endif %}">
                    <a href="{{ href }}" title="{{ item.label }}">
                        <span>{{ item.label|title }} ({{ item.count }})</span>
                    </a>
                </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    {% endfor %}
</div>

 