<div id="view-{{ resource_view['id'] }}" class="resource-view" data-id="{{ resource_view['id'] }}" data-title="{{ resource_view['title'] }}" data-description="{{ resource_view['descripion'] }}">
  <div class="ckanext-datapreview">

    {% if not to_preview and h.resource_view_is_filterable(resource_view) %}
      {% snippet 'package/snippets/resource_view_search.html', resource_view=resource_view, resource=resource, package=package %}

      {% if h.is_datastore_resource(resource['id']) %}
        {% set facets = h.get_resource_facets(resource) %}
      {% endif %}
    {% endif %}

    <div class="row {% if facets %}ckanext-datapreview-faceted{% endif %}">

      {% if facets %}
        {% snippet 'package/snippets/resource_view_facets.html', resource=resource, resource_view=resource_view, resource=resource, package=package, facets=facets %}
       <div class="col-md-9 minimal-padding">
          {% snippet 'package/snippets/resource_view_rendered.html', resource_view=resource_view, resource=resource, package=package %}
        </div>
      {% else %}
         {% snippet 'package/snippets/resource_view_rendered.html', resource_view=resource_view, resource=resource, package=package %}
      {% endif %}
    </div>
  </div>
</div>

{% asset 'ckanext-nhm/resource-view-filter-options' %}
