{# BS 20140721: Removed description #}

{% set action = 'edit_view' if is_edit else 'resource_read' %}
{% set query_params = h.get_query_params() %}
{# BS: Added q to query params & removed crappy if statement #}
  {% set url = h.url_for(controller='package', action=action, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id,
                         **query_params) %}
<li class="resource-view-item{% if is_selected %} active{% endif %}" data-id="{{ view.id }}">
  <a href="{{ url }}" data-id="{{ view.id }}">
      <i class="icon icon-{{ h.resource_view_icon(view) }}"></i>
      {{ view.title }}
  </a>
</li>
