{% ckan_extends %}

{% block basic_fields_name %}
  {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. Specimens'), value=data.name, error=errors.name, classes=['control-full'], is_required=True) }}
{% endblock %}

{% block metadata_fields %}

    {% set datastore_fields = h.form_select_datastore_field_options(data.id, allow_empty=True) %}

    {# We allow empty to has to be greater than 1 for there to be fields #}
    {% if datastore_fields.__len__() > 1 %}

        {% call form.select('_image_field', label=_('Image field'), options=datastore_fields, selected=data._image_field, error=errors._image_field) %}
            {{ form.info(_('Does your dataset contain images?.  If so, please select the field here.'), inline=True) }}
        {% endcall %}

        {% call form.select('_title_field', label=_('Title field'), options=datastore_fields, selected=data._title_field, error=errors._title_field) %}
            {{ form.info(_('Please select the field to use for the record title.'), inline=True) }}
        {% endcall %}

    {% endif %}

{% endblock %}