{% import 'macros/form.html' as form %}

{# Added to resource_view_filters.html - full text search #}

{% set placeholder = _('Enter search text') %}
{% set aria_label = _("Search the resource's data") %}
{% set q = request.args.get('q', '') %}
{% set action = h.url_for('resource.read', id=package['name'], resource_id=resource['id'], view_id=resource_view['id']) %}
{% set query_params = h.get_query_params() %}
{% set filter_pills = h.get_resource_filter_pills(package, resource, resource_view) %}

<div class="resource-view-filter-form row">
    <form class="module-content search-form" method="get">

            <div class="col-md-9 col-sm-9">
                <div class="search-input control-group">
                  <input type="text" class="search" name="q" autocomplete="off" value="{{ q }}"
                         placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"
                         aria-label="{{ aria_label }}" role="searchbox" />
                  <input type="hidden" name="view_id" value="{{ resource_view['id'] }}" />
                  {% if query_params['filters'] %}
                      <input type="hidden" name="filters" value="{{ query_params['filters'] }}" />
                  {% endif %}
                  <button type="submit">
                    <i class="fas fa-search"></i>
                    <span class="sr-only">{{ _('Search') }}</span>
                  </button>
                </div>
             </div>
            <div class="col-md-3 col-sm-3 no-margin">
                <div
                  class="resource-view-field-filters"
                  data-module="resource-view-field-filters"
                  data-module-resource-id="{{ resource['id'] }}"
                  data-module-fields="{{ h.dump_json(h.resource_view_get_filterable_fields(resource)) }}"
                  data-module-field-groups="{{ h.dump_json(h.resource_view_get_field_groups(resource)) }}"
                ></div>

            </div>
    </form>

    {% if filter_pills %}

        <div class="resource-view-filter-pills">
            <div class="col-md-12">
                <p class="filtered-list">
                    {% for pill in filter_pills %}
                <div class="filter">
                    <div class="facet">{{ pill.label }}:</div>
                    <div class="filtered pill">
                        <div class="pill-txt">{{ pill.value }}</div>
                        <div class="pill-remove">
                            <a href="{{ pill.href }}" class="remove" title="{{ _('Remove') }}" aria-label="Remove filter">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>


                    {% endfor %}
                </p>
            </div>
        </div>

    {% endif %}

    {% asset 'ckanext-nhm/resource-view-field-filters' %}


</div>
