{% import 'macros/form.html' as form %}

{# Added to resource_view_filters.html - full text search #}

{% set placeholder = _('Enter search text') %}
{% set q = request.str_GET.get('q') or '' %}
{% set action = h.url_for(controller='package', action='resource_read', id=package['name'], resource_id=resource['id'], view_id=resource_view['id'], filters=filter) %}
{% set filter_options = h.get_resource_filter_options(resource) %}

<form class="module-content search-form" method="get">


    <div class="row">
        <div class="span11">
            <div class="search-input control-group">
              <input type="text" class="search" name="q" autocomplete="off" value="{{ q.decode('utf-8') }}" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
              <input type="hidden" name="view_id" value="{{ resource_view['id'] }}" />
              {% if filters %}
                  <input type="hidden" name="filters" value="{{ filters }}" />
              {% endif %}
              <button type="submit">
                <i class="icon-search"></i>
                <span>{{ _('Search') }}</span>
              </button>
            </div>
         </div>
        <div class="span1">
            HEY
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% if filter_options %}
                {% for option_name, option in filter_options.items() %}
                    {{ form.checkbox('filters[_has_image]', label=option.label, value=1, checked=option.checked) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>

</form>
