{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.legal:LegalController', action='privacy' %}</li>
{% endblock %}

{% block pre_primary %}

    <h1 class="page-heading">{{ title }}</h1>

    <h4>Visitors and cookies</h4>

        <p>When someone visits data.nhm.ac.uk we collect standard internet log information and details of visitor behaviour patterns. We do this to determine the number of visitors to the various parts of the site, to compile statistical reports on website activity and to personalise our visitors’ experience of using the site.</p>
        <p>Cookies are text files placed on your computer to collect this information. You can set your browser to not accept cookies and to remove any existing cookies from your browser, but some features of our website may not function as a result.</p>
        <p>If we want to collect personally identifiable information through our website we will be up front about it.  For example, you will need to supply an email address to be sent dataset downloads, and to create an account to obtain an API key and follow datasets.</p>
        <p>The Natural History Museum is registered under, and will process your personal data in accordance with, the Data Protection Act 1998. For more information please read our <a class="external" href="http://www.nhm.ac.uk/my-nhm/privacy-policy/index.html" target="_blank">full privacy policy</a>.</p>

    <h4>Sharing data</h4>

        <p>We will not share personal data with third-party organisations for marketing purposes, but we may occasionally outsource functions when we do not have the in-house capacity required to perform them. For example we may use a mailing house for mailings, or analytical services that enable us to target our communications with customers and supporters more effectively. We may also need to disclose information if required by legal obligations. In such cases we will only use reputable and well-vetted firms, and put contracts and processes in place that ensure the safe and confidential processing of personal data at all times, including on the rare occasions that data is transferred outside the European Economic Area.</p>
        <p>We may also occasionally share data with other organisations in the Museum family, specifically the Natural History Development Trust and The International Friends of the Natural History Museum. These organisations are subject to strict agreements with the Museum that ensure that they meet the highest standards when collecting and using personal data.</p>

    <h4>Access to personal information and corrections</h4>

        <p>We strive at all times to ensure that your personal information is accurate and up to date. You may ask us to correct or remove information that you think is inaccurate by contacting our Customer Development Department as detailed below in the <a href="#how-to-contact-us">How to contact us section</a>.</p>
        <p>Under the terms of the Data Protection Act you have the right to request a copy of information that we hold about you. If you would like a copy of some or all of your information you can make a request by writing to our Information Compliance Officer as explained in the <a href="#how-to-contact-us">How to contact us section</a> below. We may charge a small fee (up to £10) for this service.</p>

    <h4>Complaints, enquiries and feedback</h4>

        <p>The Natural History Museum tries to meet the highest standards when collecting and using personal information. For this reason, we take any complaints we receive about this very seriously. We encourage people to bring it to our attention if they think that our collection or use of information is unfair, misleading or inappropriate. We would also welcome any suggestions for improving our procedures.</p>
        <p>This privacy policy was drafted with brevity and clarity in mind. It does not provide exhaustive detail of all aspects of the Natural History Museum’s collection and use of personal information. However, we are happy to provide any additional information or explanation needed.</p>

    <h4>Changes to this privacy policy</h4>

        <p>We keep our privacy policy under regular review. You are advised to visit this page periodically to keep up to date with any changes. This privacy policy was last updated on 21 November 2014.</p>

    <h4 id="how-to-contact-us">How to contact us</h4>

        <p>If you wish to make a complaint, request further explanation of any issues relating to this privacy policy, or make suggestions for improving how we use personal data, then please  <a href="mailto:dataprotection@nhm.ac.uk">email us</a> or write to our Information Compliance Officer at The Natural History Museum, Cromwell Road, London, SW7 5BD.</p>
        <p>You may opt out from receiving information from us at any time or ask to have your personal data removed or corrected in our records by <a href="mailto:unsubscribe@nhm.ac.uk">emailing us</a> or writing to us at Customer Development Department, Natural History Museum, Cromwell Road, London, SW7 5BD. Please ensure that you state your full name and address in your email or letter so that we can locate your record in our database.</p>

        <p>If you wish to make a Subject Access Request you can do this in several ways:</p>

        <ul>
            <li>Complete and return the <a class="external"  href="http://www.nhm.ac.uk/resources-rx/files/sar_form_2009_11_25-24916.pdf" target="_blank">Subject Access Request form</a>.</li>
            <li>Email the <a class="external"  href="http://www.nhm.ac.uk/about-us/contact-enquiries/forms/emailform.jsp?recip=dataprotection&business_title=Data%20Protection%20Coordinator&email_title=Enquiry" target="_blank">Information Compliance Officer</a>.</li>
            <li>By letter, addressed to: Information Compliance Officer, Natural History Museum, Cromwell Road, London SW7 5BD.</li>
        </ul>

{% endblock %}