{% extends "page.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _(title), controller='ckanext.nhm.controllers.legal:LegalController', action='privacy' %}</li>
{% endblock %}

{% block pre_primary %}

    <h1 class="page-heading">{{ title }}</h1>

    <h4>Visitors and cookies</h4>

        <p>When someone visits data.nhm.ac.uk we collect standard internet log information and details of visitor behaviour patterns. We do this to determine the number of visitors to the various parts of the site, to compile statistical reports on website activity and to personalise our visitors’ experience using the site.</p>
        <p>Cookies are text files placed on your computer to collect this information. You can set your browser to not accept cookies and to remove any existing cookies from your browser - but some features of our website may not function as a result.</p>
        <p>If we do want to collect personally identifiable information through our website, we will be up front about this.  For example, you will need to supply an email address to be sent dataset downloads, and to create an account to obtain an API key and follow datasets.</p>
        <p>The Natural History Museum is registered under, and will process your personal data in accordance with, the Data Protection Act 1998. For more information please read our <a href="http://www.nhm.ac.uk/my-nhm/privacy-policy/index.html" target="_blank">privacy policy</a>.</p>

    <h4>Sharing data</h4>

        <p>We will not share personal data with third party organisations for marketing purposes, but may occasionally outsource functions when we do not have the in house capacity required, such as the use of a mailing house for mailings, and analytical services that enable us to target our communications with customers and supporters more effectively. We may also need to disclose information if required by legal obligations. In such cases we will only use reputable and well-vetted firms and have contracts and processes in place that ensure the safe and confidential processing of personal data at all times, including on the rare occasions that data is transferred outside the European Economic Area.</p>
        <p>We may also occasionally share data with other organisations in the Natural History Museum family. Specifically these are the Natural History Development Trust, and The International Friends of the Natural History Museum. These organisations are subject to strict agreements with the Museum that ensure that they meet the highest standards when collecting and using personal data.</p>

    <h4>Access to personal information and corrections</h4>

        <p>We strive at all times to ensure that your personal information is accurate and up to date. You may ask us to correct or remove information that you think is inaccurate by contacting the Customer Development Department as detailed below in the <a href="#how-to-contact-us">How to contact us section</a>.</p>
        <p>Under the terms of the Data Protection Act you have the right to request a copy of information that we hold about you. If you would like a copy of some or all of your information you may make a request by writing to our Information Compliance Officer as explained in the How to contact us section below. We may make a small charge (up to £10) for this service.</p>

    <h4>Complaints, enquiries and feedback</h4>

        <p>The Natural History Museum tries to meet the highest standards when collecting and using personal information. For this reason, we take any complaints we receive about this very seriously. We encourage people to bring it to our attention if they think that our collection or use of information is unfair, misleading or inappropriate. We would also welcome any suggestions for improving our procedures.</p>
        <p>This privacy policy was drafted with brevity and clarity in mind. It does not provide exhaustive detail of all aspects of the Natural History Museum’s collection and use of personal information. However, we are happy to provide any additional information or explanation needed.</p>
        <p>If you wish to make a complaint, request further explanation of any issues relating to this privacy policy, or make a suggestions for improving our processes relating to the way we use personal data, then please direct your request to the Information Compliance Officer by email at <a href="mailto:dataprotection@nhm.ac.uk">dataprotection@nhm.ac.uk</a> or in writing to the Museum address: Natural History Museum, Cromwell Road, London, SW7 5BD.</p>
        <p>You may opt out of receiving information from us at any time or ask to have your personal data removed or corrected in our records by writing to us at: Customer Development Department, Natural History Museum, Cromwell Road, London, SW7 5BD, or by sending an email to <a href="mailto:unsubscribe@nhm.ac.uk">unsubscribe@nhm.ac.uk</a>. Please ensure that you state your full name and address in the letter or email so that we may locate your record on our database.</p>

    <h4>Changes to this privacy policy</h4>

        <p>We keep our privacy policy under regular review. You are advised to visit this page periodically in order to keep up to date with any changes. This privacy policy was last updated on 21 November 2014.</p>

    <h4 id="how-to-contact-us">How to contact us</h4>

        <p>If you wish to make a complaint, request further explanation of any issues relating to this privacy policy, or make a suggestions for improving our processes relating to the way we use personal data, then please direct your request to the Information Compliance Officer by email at <a href="mailto:dataprotection@nhm.ac.uk">dataprotection@nhm.ac.uk</a> or in writing at the Museum address: Natural History Museum, Cromwell Road, London, SW7 5BD.</p>
        <p>You may opt out from receiving information from us at any time or ask to have your personal data removed or corrected in our records by writing to us at: Customer Development Department, Natural History Museum, Cromwell Road, London, SW7 5BD, or by sending an email to <a href="mailto:unsubscribe@nhm.ac.uk">unsubscribe@nhm.ac.uk</a>. Please ensure that you state your full name and address in the letter or email so that we may locate your record on our database.</p>

        <p>If you wish to make a Subject Access Request you can do this in several ways:</p>

        <ul>
            <li>Complete and return the Subject Access Request form.</li>
            <li>Email the Information Compliance Officer.</li>
            <li>By letter, addressed to: Information Compliance Officer, Natural History Museum, Cromwell Road, London SW7 5BD.</li>
        </ul>

{% endblock %}