{% ckan_extends %}

{% block footer_content %}
<div class="row flex-container gaps flex-top">
    <div>
        <ul class="attribution list-unstyled">
            <li>
                <a class="logo nhm-logo" href="{{ h.url_for('home.index') }}"
                   title="{{ g.site_title }}" aria-label="Home">
                    <svg role="button" aria-label="Home"></svg>
                </a>
            </li>
            <li>{% trans %}<strong>Powered by</strong> <a
                class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{%
                endtrans %}
            </li>
        </ul>
    </div>
    <div class="flex-child-grow">
        <div class="dev-info">
            <p>An open source project by the Natural History Museum's Biodiversity
                Informatics Group.</p>
            <p>Source code available on <a class="external" target="_blank"
                                           href="https://github.com/NaturalHistoryMuseum/ckanext-nhm">Github</a>.
            </p>
            <p>Base tiles by <a class="external" target="_blank"
                                href="http://www.mapquest.com">MapQuest</a> and &copy;
                <a
                    class="external" target="_blank"
                    href="http://openstreetmap.org/copyright">OpenStreetMap</a>
                contributors.</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-container flex-wrap flex-wrap-spacing flex-center">
            <li role="presentation"><a href="{{ h.url_for('home.index') }}">Home</a>
            </li>
            <li role="presentation"><a href="{{ h.url_for('dataset.search') }}">Data</a>
            </li>
            <li role="presentation" class="dropup">
                <a href="{{ h.url_for('home.about') }}">About</a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false"
                   aria-label="About popup menu">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ h.url_for('about.citation') }}">Citation &amp;
                        attribution</a></li>
                    <li><a href="{{ h.url_for('about.download') }}">Download &amp;
                        API</a>
                    </li>
                    <li><a href="{{ h.url_for('statistics.resources') }}">Site
                        statistics</a></li>
                    <li><a href="{{ h.url_for('about.credits') }}">Credits</a></li>
                </ul>
            </li>
            <li role="presentation">
                <a href="{{ h.url_for('help.index') }}">
                    Help
                </a>
            </li>
            <li role="presentation"><a
                href="{{ h.url_for('contact.form') }}">Contact</a>
            </li>
            <li role="presentation"><a
                href="{{ h.url_for('legal.privacy') }}">Privacy</a></li>
            <li role="presentation"><a href="{{ h.url_for('legal.terms') }}">T&amp;C</a>
            </li>
            <li role="presentation">
                <a href="https://www.nhm.ac.uk/about-us/website-accessibility-statement.html">
                    Accessibility
                </a>
            </li>
            <li role="presentation">
                <a href="{{ h.url_for('about.aohc') }}">
                    Harmful content
                </a>
            </li>
            {% if g.userobj %}
            <li role="presentation">
                <a href="{{ h.url_for('user.read', id=g.userobj.name) }}">{{ _('Account') }}</a>
            </li>
            <li role="presentation">
                <a href="{{ h.url_for('user.logout') }}">{{ _('Log out') }}</a>
            </li>
            {% else %}
            <li role="presentation"><a href="{{ h.url_for('user.login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>{% endblock %}
