{% ckan_extends %}

{% block footer_content %}
    <div class="container">
  <div class="row">

    <div class="span2">
        <ul class="attribution unstyled">
            <li><a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a></li>
            <li>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</li>
        </ul>
    </div>

    <div class="span5">
        <div class="dev-info">
            <p>An open source project by the Natural History Museum's Biodiversity Informatics Group.</p><p>Source code available on <a class="external" target="_blank" href="https://github.com/NaturalHistoryMuseum/ckanext-nhm">Github</a>.</p>
            <p>Base tiles by  <a class="external" target="_blank" href="http://www.mapquest.com">MapQuest</a> and &copy; <a class="external" target="_blank" href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors.</p>
        </div>
    </div>

    <div class="span3 no-margin">
      <ul class="nav unstyled">
        {% block footer_links %}
          <li><a href="{{ h.url_for('home.index') }}">Home</a></li>
            <li><a href="{{ h.url_for('dataset.search') }}">Data</a></li>
            <li><a href="{{ h.url_for('home.about') }}">About</a>
                <ul>
                    <li><a href="{{ h.url_for('about_citation') }}">Citation &amp; attribution</a></li>
                    <li><a href="{{ h.url_for('about_download') }}">Download &amp; API</a></li>
                    <li><a href="{{ h.url_for('stats_resources') }}">Site statistics</a></li>
                    <li><a href="{{ h.url_for('about_credits') }}">Credits</a></li>
                </ul>
            </li>

        {% endblock %}
      </ul>
    </div>

    <div class="span2 no-margin menu-links">
      <ul class="nav unstyled">
        {% block footer_menu_links %}
            {% if g.userobj %}
                <li><a href="{{ h.url_for(controller='user', action='read', id=g.userobj.name) }}" title="My account">My account</a></li>
                <li><a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">Log out</a></li>
            {% else %}
                <li><a href="{{ h.url_for('login') }}">Login</a></li>
                <li><a href="{{ h.url_for('register') }}">Register</a></li>
            {% endif %}
            <li><a href="{{ h.url_for('contact_form') }}">Contact</a></li>
            <li class="extra-divide">{{ h.api_doc_link() }}</li>
            <li class="extra-divide"><a href="{{ h.url_for('legal_privacy') }}">Privacy notice</a></li>
            <li><a href="{{ h.url_for('legal_terms') }}">T&amp;C</a></li>
        {% endblock %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}
