{% ckan_extends %}

{% block footer_content %}
  <div class="row row2">
    <div class="span9 col2">
      <ul class="nav unstyled">
        {% block footer_links %}
          <li><a href="{{ h.url_for('home') }}">Home</a></li>
            <li><a href="{{ h.url_for('search') }}">Data</a></li>
            <li><a href="{{ h.url_for('about') }}">About</a></li>
            <li><a href="{{ h.url_for('about_data_usage') }}">Data usage</a></li>
            <li><a href="{{ h.url_for('about_credits') }}">Credits</a></li>
            <li><a href="{{ h.url_for('stats_datasets') }}">Statistics</a></li>
            <li><a href="">Privacy statement</a></li>
            <li><a href="">Legal</a></li>
            <li>{{ h.api_doc_link() }}</li>
        {% endblock %}
      </ul>
    </div>

    <div class="span3 col2">
      <ul class="nav unstyled">
        {% block footer_menu_links %}
            <li><a href="{{ h.url_for('login') }}">Login</a></li>
            <li><a href="{{ h.url_for('register') }}">Register</a></li>
            <li><a href="{{ h.url_for('contact_form') }}">Contact</a></li>
        {% endblock %}
      </ul>
    </div>
  </div>

<div class="row row2">
    <div class="span6 col2">
        <p>An open source project for the Natural History Museum.  All code available on <a href="">Github</a></p>
    </div>

    <div class="span6 col2">

      <div class="attribution">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>

      <div id="map-attribution">
          <p>Base tiles by  <a href="http://www.mapquest.com">MapQuest</a> and &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors</p>
      </div>

    </div>

</div>

{% endblock %}
