{% ckan_extends %}

{# This is the header_site_navigation_tabs block copy-pasted from core, but
   with the Organizations link removed #}
{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('home.index', _('Home')),
    ('dataset.search', _('Data')),
    ('home.about', _('About'))
  ) }}
{% endblock %}

{# We do not want a search #}
{% block header_site_search %}
{% endblock %}

{% block header_wrapper %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="span5">
                    {% block header_logo %}

                    {% if g.site_logo %}
                      <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
                    {% endif %}

                      <h1 class="site-title">
                        <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
                      </h1>

                    {% endblock %}

                </div>

                <div class="span4">
                    {% block header_site_navigation %}
                        {{ super() }}
                    {% endblock %}
                </div>

                <div class="span3">

                    {# Accessibility fix - links need to have text #}
                    {% block header_account_container_content %}
                        {% if g.userobj %}
                          <div class="account avatar authed" data-module="me" data-me="{{ g.userobj.id }}">
                            <ul class="unstyled">
                              {% block header_account_logged %}
                              {% if g.userobj.sysadmin %}
                                <li>
                                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                    <span class="sr-only">Sysadmin settings</span>
                                    <i class="fa fa-legal"></i>
                                  </a>
                                </li>
                              {% endif %}
                              <li>
                                <a href="{{ h.url_for(controller='user', action='read', id=g.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                  {{ h.accessible_gravatar((g.userobj.email_hash if g and g.userobj else ''), size=22, userobj=g.userobj) }}
                                  <span class="username">{{ g.userobj.display_name }}</span>
                                </a>
                              </li>
                              {% set new_activities = h.new_activities() %}
                              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                <a href="{{ h.url_for('user.dashboard') }}" title="{{ notifications_tooltip }}">
                                  <i class="fa fa-dashboard"></i>
                                  <span>{{ new_activities }}</span>
                                </a>
                              </li>
                              {% block header_account_settings_link %}
                                {% if not h.is_ldap_user() %}
                                <li>
                                  <a href="{{ h.url_for(controller='user', action='edit', id=g.userobj.name) }}" title="{{ _('Edit settings') }}">
                                    <span class="sr-only">Edit settings</span>
                                    <i class="fa fa-cog"></i>
                                  </a>
                                </li>
                                {% endif %}
                              {% endblock %}
                                  {% block header_account_log_out_link %}
                                    <li>
                                      <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                        <span class="sr-only">Log out</span>
                                        <i class="fa fa-signout"></i>
                                      </a>
                                    </li>
                                  {% endblock %}

                                  {{ self.contact_link() }}

                              {% endblock %}
                            </ul>
                          </div>
                        {% else %}
                          <nav class="account not-authed">
                            <ul class="unstyled">
                              {% block header_account_notlogged %}
                              <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                              {% if h.check_access('user_create') %}
                                <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                              {% endif %}
                              {% endblock %}

                              {{ self.contact_link() }}

                            </ul>
                          </nav>
                        {% endif %}
                    {% endblock %}

                </div>
            </div>

        </div>
    </header>
{% endblock %}