{% ckan_extends %}

{# This is the header_site_navigation_tabs block copy-pasted from core, butwith the Organizations link removed #}
{% block header_site_navigation_tabs %}
{{ h.build_nav_main(('home.index', _('Home')),('dataset.search', _('Datasets')),('search.view', _('Search')),('contact.form', _('Contact')),('home.about', _('About'))) }}
{% endblock %}

{# We do not want a search #}{% block header_site_search %}{% endblock %}

{% set status_indicator = h.get_status_indicator() %}
{% macro status_icon() %}
<div>
    <a href="{{ h.url_for('status.index') }}"
       title="{{ _('System status') }}">
        <span class="sr-only">{{ _('System status') }}</span>
        {% if status_indicator %}
        <span class="status-indicator status-indicator-{{ status_indicator }}">
            <span class="sr-only">{{ _('Status alert') }}</span>
            <i class="fas fa-exclamation fa-xs"></i>
        </span>
        {% endif %}
        <i class="fas fa-heartbeat fa-lg"></i>
    </a>
</div>
{% endmacro %}


{% block header_wrapper %}
<header class="masthead" role="heading">
    <div class="account-icons container">
        {# Accessibility fix - links need to have text #}
        {% block header_account_container_content %}
        {% if g.userobj %}
        <div class="account avatar authed flex-container flex-right flex-smallwrap"
             data-module="me"
             data-me="{{ g.userobj.id }}">
            {% block header_account_logged %}
            {% set new_activities = h.new_activities() %}
            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)',
            'Dashboard
            (%(num)d new items)', new_activities) %}

            {# headway widget #}
            <div class="headway-container"></div>

            {# Username and avatar #}
            <div>
                <a href="{{ h.url_for('user.read', id=g.userobj.name) }}"
                   class="image flex-container no-pad-h"
                   title="{{ _('View profile') }}">
                    <span class="username">{{ g.userobj.display_name }}</span>
                    <span>
                        {{ h.accessible_gravatar((g.userobj.email_hash if g and g.userobj else ''), size=22, userobj=g.userobj) }}
                    </span>
                </a>
            </div>

            {# Notifications #}
            <div
                class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                <a href="{{ h.url_for('dashboard.index', id=g.userobj.name) }}"
                   title="{{ notifications_tooltip }}">
                    <span class="sr-only">{{ notifications_tooltip }}</span>
                    <span class="activity-count">{{ new_activities }}</span>
                    <i class="fas fa-tachometer-alt fa-lg"></i>
                </a>
            </div>

            {# Account settings #}
            {% block header_account_settings_link %}
            {% if not h.is_ldap_user() %}
            <div>
                <a href="{{ h.url_for('user.edit', id=g.userobj.name) }}"
                   title="{{ _('Edit settings') }}">
                    <span class="sr-only">{{ _('Edit settings') }}</span>
                    <i class="fas fa-cog fa-lg"></i> </a>
            </div>
            {% endif %}
            {% endblock %}

            {# Sysadmin settings #}
            {% if g.userobj.sysadmin %}
            <div>
                <a href="{{ h.url_for('admin.index') }}"
                   title="{{ _('Sysadmin settings') }}">
                    <span class="sr-only">{{ _('Sysadmin settings') }}</span>
                    <i class="fas fa-tools fa-lg"></i>
                </a>
            </div>
            {% endif %}

            {# Status page #}
            {{ status_icon() }}

            {# Logout #}
            {% block header_account_log_out_link %}
            <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
                <span class="sr-only">{{ _('Log out') }}</span>
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
            {% endblock %}
            {% endblock %}
        </div>
        {% else %}
        <div class="account not-authed flex-container flex-right flex-smallwrap">
            {# headway widget #}
            <div class="headway-container"></div>

            {# Status page #}
            {{ status_icon() }}

            {% block header_account_notlogged %}
            <div>
                <a href="{{ h.url_for('user.login') }}" title="{{ _('Log in') }}">
                    <span class="sr-only">{{ _('Log in') }}</span>
                    <i class="fas fa-sign-in-alt fa-lg"></i>
                </a>
            </div>
            {% endblock %}
        </div>
        {% endif %}

        {# headway script #}
        <script>
            // @see https://docs.headwayapp.co/widget for more configuration options.
            var HW_config = {
                selector: ".headway-container",
                account: "yjgBkx"
            };
        </script>
        <script async src="https://cdn.headwayapp.co/widget.js"></script>

        {% endblock %}
    </div>
    <div
        class="container flex-container flex-wrap flex-wrap-spacing flex-stretch-first flex-bottom flex-right">
        <div class="logo-block">
            {% block header_logo %}
            {% if g.site_logo %}
            <a class="logo nhm-logo" href="{{ h.url_for('home.index') }}"
               title="{{ g.site_title }}" aria-label="Home">
                <svg role="button" aria-label="Home"></svg>
            </a>
            {% endif %}
            {% endblock %}
            <h1 class="site-title">
                <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
            </h1>
            <span class="welcome">
                Explore and download the Museum’s research and collections data.
            </span>
        </div>
        <div class="no-pad-h" role="navigation">
            {% block header_site_navigation %} {{ super() }} {% endblock %}
        </div>
    </div>
</header>
{% endblock %}
