{% ckan_extends %}

  {% block skip %}
    {% snippet 'snippets/google_analytics.html' %}
    {{ super() }}
  {% endblock %}

{# Move the breadcrumb to the header #}
{% block header %}
    {{ super() }}
    {% if self.breadcrumb_content() | trim %}
        <div class="toolbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            {% snippet 'snippets/home_breadcrumb_item.html' %}
                            {% block breadcrumb_content %}{% endblock %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{# And remove the toolbar from the mainbody #}
{% block toolbar %}{% endblock %}

{% block page_header %}
  <header class="module-content page-header flex-container flex-between flex-wrap flex-stretch-first flex-top">
    <ul class="nav nav-tabs navbar-collapse collapse" id="nav-header">
        {% block content_primary_nav %}{% endblock %}
    </ul>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header" aria-expanded="false">
        <i class="fas fa-ellipsis-h"></i>
    </button>
    {% if self.content_action() | trim %}
      <div class="content_action">
        {% block content_action %}{% endblock %}
      </div>
    {% endif %}
  </header>
{% endblock %}