{% ckan_extends %}

{% block page %}
  <div data-module="recline_view grid-view-fullscreen"
       data-module-site_url="{{ h.dump_json(h.url_for('/', locale='default', qualified=true)) }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}"
       data-module-resource-view = "{{ h.dump_json(h.resource_view_state(resource_view_json, resource_json)) }}"
       class="recline-data-explorer"
       >
    <h4 class="loading-dialog">
      <div class="loading-spinner"></div>
      <div class="left">{{ _('Loading...') }}</div>
    </h4>
  </div>

  {% asset 'ckanext-reclineview/main' %}
  {% asset 'ckanext-nhm/view-controls' %}
  {% asset 'ckanext-nhm/slickgrid-css' %}
  {% asset 'ckanext-nhm/slickgrid-js' %}
  {% asset 'ckanext-nhm/grid-view-fullscreen' %}
  {% asset 'ckanext-nhm/main-css' %}
  {% asset 'ckanext-nhm/main-js' %}

{% endblock %}
