# resource.config file

[groups]

slickgrid =
    scripts/slickgrid.js
    css/slickgrid.css

map = css/map.css

resource-view-filters-ui =
    scripts/modules/resource-view-filters-ui.js

google_analytics =
    scripts/modules/google_analytics_event_tracking.js

toggle-empty-rows =
    scripts/modules/toggle-empty-rows.js

social =
    scripts/modules/social.js