# resource.config file

[groups]

slickgrid =
    scripts/slickgrid.js
    css/slickgrid.css

map = css/map.css

resource-view-advanced-filters =
    scripts/vendor/liteTabs/litetabs.jquery.js
    scripts/vendor/liteTabs/litetabs.css
    scripts/modules/resource-view-filters-ui.js
    scripts/modules/resource-view-advanced-filters.js
    scripts/ckan_filter_url.js

google_analytics =
    scripts/modules/google_analytics_event_tracking.js

iframe-resize =
    scripts/modules/iframe-resize.js

toggle-empty-rows =
    scripts/modules/toggle-empty-rows.js

toggle-select =
    scripts/modules/toggle-select.js

social =
    scripts/modules/social.js