{% asset 'ckanext-nhm/external-links' %}

{% block external_links %}
    <section class="module additional-info">
        <div class="module-content external-links">
            <h3>{{ _('External Links') }}</h3>
            {% block external_links_content %}
                {% set external_sites = h.get_external_sites(record) %}
                {% if external_sites %}
                    {% for site in external_sites %}
                        {% set links = site.get_links(record) %}
                        {% if links %}
                            <div class="external-link-parent">
                                <div class="external-link-name">
                                    <img width="16" height="16"
                                         src="{{ site.icon_url }}"
                                         alt="{{ site.name }} icon">&nbsp;<span>{{ site.name }}&nbsp;<i
                                    class="fas fa-caret-down"></i></span>
                                </div>
                                <ul>
                                    {% for link in links %}
                                        <li class="external-link-child">
                                            <a href="{{ link.url }}" target="_blank"
                                               class="external">
                                                {{ link.text }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
