{% extends "record/specimen.html" %}

{% block record_data %}

    <table class="toggle-empty-rows" data-module="toggle-empty-rows">

    {% for group, terms in c.dwc.get_groups() %}

        <thead>
            <tr>
                <th colspan="2">{{ group }}</th>
            </tr>
        </thead>

        <tbody>
            {% for term_name in terms %}

                {% set term = c.dwc.get_term(term_name) %}
                {% if term['value'] == None %}
                    {% set cls = 'empty' %}
                    {% set value = '' %}
                {% else %}
                    {% set cls = 'not-empty' %}
                    {% set value = term['value'] %}
                {% endif %}

                <tr class="{{ cls }}">
                    <th>
                        <a href="{{ term['uri'] }}" title="{{ term['uri'] }} target="_blank">{{term_name}}</a>
                    </th>

                    <td>{{ value }}</td>
                </tr>

            {% endfor %}
        </tbody>

    {% endfor %}

    </table>

    {% resource 'ckanext-nhm/toggle-empty-rows' %}

{% endblock %}