{% extends "record/view.html" %}

{% if c.record_dict['scientificName'] %}
    {% set record_name = '%s (%s)' % (c.record_dict['scientificName'], c.record_dict['occurrenceID']) %}
{% else %}
    {% set record_name = c.record_dict['occurrenceID'] %}
{% endif %}

{% block content_primary_nav %}

  {{ h.build_nav_icon('record', _('Normal view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
  {{ h.build_nav_icon('dwc', _('Darwin Core view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}

{% endblock %}

{% block record %}

    {% set dwc = DwC(**c.record_dict) %}

    <table>

    {% for group, terms in dwc.get_groups(): %}

        <tr><th colspan="2">
            {{ group }}
        </th></tr>

        {% for term_name in terms: %}

            {% set term = dwc.get_term(term_name) %}

            <tr>
                <td width="250">
                    <a href="{{ term['uri'] }}" title="{{ term['uri'] }} target="_blank">{{ term_name }}</a>
                </td>

                <td>{{ term['value'] if term['value'] != None else '' }}</td>
            </tr>

        {% endfor %}

    {% endfor %}

    </table>

{% endblock %}


{% block record_metadata_rows %}
   <tr>
    <th scope="row">{{ _('Created') }}</th>
    <td>{{ h.render_datetime(rec.created) }}</td>
  </tr>
   <tr>
    <th scope="row">{{ _('Last updated') }}</th>
    <td>{{ h.render_datetime(rec.modified) }}</td>
  </tr>
   {{ super() }}

{% endblock %}