{% set url = url | default(h.url_for('dataset.read', id=id)) %}

<div class="box flex-container flex-between flex-stretch-last flex-top flex-stretch-height">
    <a class="media-image" href="{{ url }}" aria-label="{{ title }}">
        {% block image %}{% endblock %}
    </a>
    <div class="module-content">
        <section class="featured media-overlay flex-container flex-column flex-stretch-height">
            <h5 class="featured-title"><a href="{{ url }}">{{ title }}</a></h5>
            <div class="box-text">
                <p>{% block description %}{% endblock %}</p>
            </div>

            <p class="text-right"><a class="no-underline view-dataset-link" href="{{ url }}"
                    title="View dataset">View dataset <i
                    class="fas fa-arrow-circle-right inline-icon-right"></i></a></p>
        </section>
    </div>
</div>
