{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post">
  {{ form.errors(error_summary) }}

  <fieldset>

    {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}

    {# Add resource name and ID hidden field #}

    {% set resource_id = h.get_request_param('resource_id', None) %}

    {% if resource_id %}

        {% set resource = h.get_resource(resource_id) %}

        <div class="control-group control-medium">
            <label class="control-label">Dataset</label>
            <div class="controls ">
                <p>{{ resource['name'] or resource['id'] }}</p>
            </div>
        </div>

        {{ form.hidden('resource_id', resource_id) }}

    {% endif %}

    {# Add record name and record ID hidden field #}

    {% set record_id = h.get_request_param('record_id', None) %}

    {% if record_id and resource %}

        {% set record = h.get_record(resource_id, record_id) %}

            {% if record %}

                <div class="control-group control-medium">
                    <label class="control-label">Record</label>
                    <div class="controls ">
                        {{ h.record_display_name(resource, record) }}
                    </div>
                </div>

            {% endif %}

        {{ form.hidden('record_id', record_id) }}

    {% endif %}

    {{ form.markdown('content', label=_('Your Request'), id='field-content', value=data.content, error=errors.content, placeholder=_('What do you have to tell us?'), is_required=true) }}

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  </fieldset>

  <div class="form-actions">
    {{ form.required_message() }}
    <button class="btn btn-primary save" type="submit" name="save">{{ _('Submit') }}</button>
  </div>

</form>
