{% ckan_extends %}

{# ckan's base.html expects pkg_dict to exist so we need to make sure it does! #}
{% if pkg_dict is not defined and g.pkg_dict is defined %}
    {% set pkg_dict = g.pkg_dict %}
{% endif %}

{# Renaming datasets => data #}

{% block subtitle %}{{ _('Data') }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Data'), named_route='dataset.search' %}</li>
  {% if pkg is not defined and g.pkg is defined %}
    {% set pkg = g.pkg %}
  {% endif %}
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), named_route='dataset.read', id=pkg.name %}</li>
  {% else %}
    <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
{% endblock %}
