{% ckan_extends %}

{% block content_action %}
    {{ super() }}
    {% snippet "contact/snippets/modal_link.html", pkg=pkg %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_metrics', _('Metrics'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
{% endblock %}

{# Reorder blocks so DOI and licence goes to top #}
{% block secondary_content %}

{# Remove organisation #}
{% block package_organization %}{% endblock %}

{#  {% block package_citation %}#}
{#   {{ super() }}#}
{#  {% endblock %}#}

   {# Licences should go at top #}
  {% block package_license %}
   {{ super() }}
  {% endblock %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
  {% endblock %}

{# Pass package into social share links #}
{% block package_social %}
    {% snippet "snippets/social.html", pkg_dict=pkg %}
{% endblock %}

{% endblock %}