{% ckan_extends %}

{% block breadcrumb_content %}
    {% set dataset = g.pkg.title or g.pkg.name %}
    <li>{% link_for _('Data'), named_route='dataset.search' %}</li>
    <li>{% link_for dataset|truncate(30), named_route='dataset.read', id=g.pkg.name %}</li>
    {# Added actual URL as IE9 doesn't like empty hrefs & we want to remove the filters #}
    <li class="active"><a href="{{ h.url_for('resource.read', id=g.pkg.name, resource_id=res.id) }}">{{ h.resource_display_name(res)|truncate(30) }}</a></li>
{% endblock %}

{% block resource_inner %}
    <div class="module-content">
        <div class="row flex-container flex-wrap flex-wrap-spacing flex-between flex-stretch-first flex-reverse flex-top">
            <div>
                {% block resource_actions %}
                    <ul class="list-unstyled list-inline">
                        {% block resource_actions_inner %}
                            {% if h.check_access('package_update', {'id':g.pkg.id }) %}
                                <li>{% link_for _('Manage'), named_route='resource.edit', id=g.pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
                            {% endif %}
                            <li>{% snippet 'package/snippets/resource_link.html', res=res, pkg=g.pkg %}</li>
                            {% if 'datastore' in g.plugins and res.datastore_active %}
                                <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=g.datastore_api %}</li>
                            {% endif %}
                            {% if res._image_field %}
                            <li><a class="btn btn-primary"
                                   href="{{ h.url_for('liv.index', mode='resource', mode_params=res.id) }}">
                                <i class="fas fa-images"></i> {{ _('Open in image viewer') }}
                            </a></li>
                            {% endif %}
                            <li>{% snippet "contact/snippets/modal_link.html", pkg=g.pkg, res=res %}</li>
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>
            {% block resource_content %}
                {% block resource_read_title %}
                    {{ super() }}
                {% endblock %}
                </div>
                <div class="row prose notes" property="rdfs:label">
                    {% if res.description %}
                        {{ h.render_markdown(res.description) }}
                    {% endif %}
                    {% if not res.description and package.notes %}
                        <h3>{{ _('From the dataset abstract') }}</h3>
                        <blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
                        <p>
                        {% trans dataset=package.title, url=h.url_for('dataset.read', id=package['name']) %}
                            Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
                    {% endif %}
                </div>
            {% endblock %}
        {% block data_preview %}
            {% block resource_view %}
                {% block resource_view_nav %}
                    <div class="row">
                        {{ super() }}
                    </div>
                {% endblock %}
                {% block resource_view_content %}
                    <div class="resource-view">

                        {% set resource_preview = h.resource_preview(g.resource, g.package) %} {% set views_created = res.has_views or resource_preview %}
                        {% if not views_created %}

                            {# If this is a web link, just show it a link #}
                            {% if res.url and not res.can_be_previewed and not res.on_same_domain and not res.url_type %}
                                <a href="{{ res.url }}" class="external"
                                        target="_blank">{{ res.url }}</a>
                            {% else %}
                                {{ _("There are no views created for this resource yet.") }}
                            {% endif %}

                        {% else %}
                            {% if resource_preview and not current_resource_view %}
                                {{ h.resource_preview(g.resource, g.package) }}
                            {% else %}
                                {% for resource_view in resource_views %}
                                    {% if resource_view == current_resource_view %}
                                        {% snippet 'package/snippets/resource_view.html', resource_view=resource_view, resource=g.resource, package=g.package %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
{% endblock %}


{% block resource_additional_information %}
    {% if g.pkg.doi %}
        {% snippet "doi/snippets/resource_citation.html", pkg_dict=g.pkg_dict, res=res %}
    {% endif %}
    <div class="additional-info">
        {% if res %}
            <section class="module">
                {% block resource_additional_information_inner %}
                    <div class="module-content">
                        <h3>{{ _('Additional Information') }}</h3>
                        <table class="table table-striped table-bordered table-condensed"
                                data-module="table-toggle-more">
                            <tbody>
                            <tr>
                                <th scope="row">{{ _('Last updated') }}</th>
                                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _('Created') }}</th>
                                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _('Format') }}</th>
                                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _('License') }}</th>
                                <td>{% snippet "snippets/license.html", pkg_dict=g.pkg_dict, text_only=True %}</td>
                            </tr>
                            {% for key, value in h.filter_and_format_resource_items(res) %}
                                <tr class="toggle-more">
                                    <th scope="row">{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endblock %}
            </section>
        {% endif %}
    </div>
{% endblock %}

{% block resource_license %}
    {% snippet "snippets/social.html", pkg_dict=g.pkg_dict, res_dict=res %}
{% endblock %}
