.account-masthead,
.masthead,
.hero{
    background: #327EBF;
    color: white;
}

.account-masthead a,
.masthead a,
.hero a{
    color: white;
}


.hero  h1.page-heading{
    color: white;
    text-shadow: 1px 1px #444;
    font-size: 36px;
}

.stats ul li{
    color: white;
    display: block;
    text-align: right;
    float: none!important;
    width: auto!important;
}


a{
    color: #327EBF;
}

.module-search form{
    background: url("/images/search_map_bg.png")!important;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 80px 50px 80px!important;
}

.account-masthead .account ul li {
    border-left: none;
}

.site-footer {
    min-height: 100px;
    color: #999999;
    background: #444444;
}

.site-footer a {
    color: #fff;
}

.homepage .module-search .search-giant input {
    border-color: #ccc!important;
}


/* About */

#credits{
    list-style: none;
    margin-left: 20px;
}

#about-menu{
    list-style: none;
    margin: 0;
}

#about-menu li{
    display: block;
    float: none;
}

#about-menu li a i{
    display: none;
}

.about-doi{
    background: #eee;
    padding: 10px;
    margin: 20px 100px 20px 40px;
}

p.info{
    color: #777;
    font-size: 0.9em;
    text-align: center;
}

.site-footer ul li{
    float: left;
    padding: 0 5px;
}

.site-footer{
    font-size: 12px;
}

/* Filters */
div.resource-view-filter-values div.select2-container {
    min-width: 520px;
}