# resource.config file

[IE conditional]

lte IE 8 = css/lte-ie8.css

[depends]

main = base/main

[groups]

main =
    css/nhm.css
    css/leaflet.css
    css/lte-ie8.css

slickgrid =
    scripts/slickgrid.js
    css/slickgrid.css

map = css/map.css

resource-view-advanced-filters =
    scripts/vendor/liteTabs/litetabs.jquery.js
    scripts/vendor/liteTabs/litetabs.css
    scripts/modules/resource-view-filters-ui.js
    scripts/modules/resource-view-advanced-filters.js
    scripts/ckan_filter_url.js

grid-view-fullscreen =
    scripts/modules/grid-view-fullscreen.js
    vendor/font-awesome/css/font-awesome.css

iframe-resize =
    scripts/modules/iframe-resize.js

toggle-empty-rows =
    scripts/modules/toggle-empty-rows.js

back-button =
    scripts/modules/back-button.js

toggle-select =
    scripts/modules/toggle-select.js

social =
    scripts/modules/social.js