# resource.config file

[IE conditional]

lte IE 8 = css/lte-ie8.css

[depends]

main = base/main

[groups]

main =
    css/nhm.css
    css/leaflet.css
    css/lte-ie8.css
    vendor/fontawesome-free-5.6.3-web/css/all.css

view-controls =
    css/view-controls.css

slickgrid =
    scripts/slickgrid.js
    css/slickgrid.css

map = css/map.css

resource-view-field-filters =
    scripts/modules/resource-view-field-filters.js

resource-view-filter-options =
    scripts/modules/resource-view-filter-options.js

grid-view-fullscreen =
    scripts/modules/grid-view-fullscreen.js

iframe-resize =
    scripts/modules/iframe-resize.js

toggle-empty-rows =
    scripts/modules/toggle-empty-rows.js

back-button =
    scripts/modules/back-button.js

toggle-select =
    scripts/modules/toggle-select.js

social =
    scripts/modules/social.js

mam =
    scripts/mam.js
    scripts/vendor/mustache/0.5.0-dev/mustache.js

expand-authors =
    scripts/modules/expand-authors.js

external-links =
    scripts/external-links.js