{% extends "record/specimen.html" %}

{% block content_primary_nav %}
    {% if c.additional_view %}

        {{ h.build_nav_icon('record', _('Normal view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
        {{ h.build_nav_icon('dwc', _('Darwin Core view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}

    {% endif %}
{% endblock %}

{% block record_data %}

    <table class="toggle-empty-rows" data-module="toggle-empty-rows">

    {% for group, fields in c.field_groups.items() %}

        <thead>
            <tr>
                <th colspan="2">{{ group }}</th>
            </tr>
        </thead>

        <tbody>

            {% for field, label in fields.items() %}

                {% set value = c.record_dict[field] %}
                {% if not value %}
                    {% set cls = 'empty' %}
                    {% set value = '' %}
                {% else %}
                    {% set cls = 'not-empty' %}
                {% endif %}

                <tr class="{{ cls }}">
                    <th>
                        <a href="{{ c.uris[field] }}" target="_blank" title="{{ c.uris[field] }}">{{field}}</a>
                    </th>

                    <td>{{ value }}</td>
                </tr>

            {% endfor %}

        </tbody>

    {% endfor %}

    </table>

    {% resource 'ckanext-nhm/toggle-empty-rows' %}

{% endblock %}