{% extends "record/view.html" %}

{% block record_data %}

    {% set material_details = h.indexlot_material_details(c.record_dict) %}

    <table>

    <tbody>

    {% if c.record_dict['Original name'] %}
        <tr>
            <th>Currently accepted name</th>
            <td>{{ c.record_dict['Currently accepted name'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Original name'] %}
        <tr>
            <th>Original name</th>
            <td>{{ c.record_dict['Original name'] }}</td>
        </tr>
    {% endif %}

    </tbody>

    <tbody>

    {% if c.record_dict['Kingdom'] %}
        <tr>
            <th>Kingdom</th>
            <td>{{ c.record_dict['Kingdom'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Phylum'] %}
        <tr>
            <th>Phylum</th>
            <td>{{ c.record_dict['Phylum'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Class'] %}
        <tr>
            <th>Class</th>
            <td>{{ c.record_dict['Class'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Order'] %}
        <tr>
            <th>Order</th>
            <td>{{ c.record_dict['Order'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Suborder'] %}
        <tr>
            <th>Suborder</th>
            <td>{{ c.record_dict['Suborder'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Superfamily'] %}
        <tr>
            <th>Superfamily</th>
            <td>{{ c.record_dict['Superfamily'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Family'] %}
        <tr>
            <th>Family</th>
            <td>{{ c.record_dict['Family'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Subfamily'] %}
        <tr>
            <th>Subfamily</th>
            <td>{{ c.record_dict['Subfamily'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Genus'] %}
        <tr>
            <th>Genus</th>
            <td><em>{{ c.record_dict['Genus'] }}</em></td>
        </tr>
    {% endif %}
    {% if c.record_dict['Subgenus'] %}
        <tr>
            <th>Subgenus</th>
            <td>{{ c.record_dict['Subgenus'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Species'] %}
        <tr>
            <th>Species</th>
            <td><em>{{ c.record_dict['Species'] }}</em></td>
        </tr>
    {% endif %}
    {% if c.record_dict['Subspecies'] %}
        <tr>
            <th>Subspecies</th>
            <td>{{ c.record_dict['Subspecies'] }}</td>
        </tr>
    {% endif %}
    {% if c.record_dict['Taxonomic rank'] %}
        <tr>
            <th>Taxonomic rank</th>
            <td>{{ c.record_dict['Taxonomic rank'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['_taxonomy_irn'] %}
        <tr>
            <th>_taxonomy_irn</th>
            <td>{{ c.record_dict['_taxonomy_irn'] }}</td>
        </tr>
    {% endif %}

    </tbody>

    <tbody>

    {% if c.record_dict['Material'] %}
        <tr>
            <th>Material</th>
            <td>{{ c.record_dict['Material'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['Kind of material'] %}
        <tr>
            <th>Kind of material</th>
            <td>{{ c.record_dict['Kind of material'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['Type'] %}
        <tr>
            <th>Type</th>
            <td>{{ c.record_dict['Type'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['British'] %}
        <tr>
            <th>Type</th>
            <td>{{ c.record_dict['British'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['Media'] %}
        <tr>
            <th>Media</th>
            <td>{{ c.record_dict['Media'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['Kind of media'] %}
        <tr>
            <th>Kind of media</th>
            <td>{{ c.record_dict['Kind of media'] }}</td>
        </tr>
    {% endif %}

    {% if c.record_dict['Department'] %}
        <tr>
            <th>Department</th>
            <td>{{ c.record_dict['Department'] }}</td>
        </tr>
    {% endif %}

    <tbody>

    {% if material_details %}

        <tbody id="material-details">

        <tr>
            <th>Material details</th>
            <td>
                <table>

                    <tr>
                        {% for label in material_details[0] %}
                            <th>{{ label }}</th>
                        {% endfor %}
                    </tr>

                    {% for material_detail in material_details[1:] %}
                        <tr>
                            {% for value in material_detail %}
                                <td> {{ value if value else '' }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </table>
            </td>

        </tr>

        </tbody>

    {% endif %}

    </table>

{% endblock %}

{% block record_additional_information_rows %}

    <tr>
        <th scope="row">{{ _('Created') }}</th>
        <td>{{ h.render_datetime(c.record_dict['Created']) }}</td>
    </tr>
    <tr>
        <th scope="row">{{ _('Last updated') }}</th>
        <td>{{ h.render_datetime(c.record_dict['Modified']) }}</td>
    </tr>

    {{ super() }}

{% endblock %}