{% extends "record/view.html" %}

{% block content_primary_nav %}

  {{ h.build_nav_icon('specimen', _('Normal view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
  {{ h.build_nav_icon('dwc', _('Darwin Core view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}

{% endblock %}

{% block record_data %}

    <table>

        {% for group, fields in c.field_data.items() %}

            <thead>
                <tr><th colspan="4">{{ group }}</th></tr>
            </thead>

            <tbody>
                {% for field_name, field in fields.items() %}

                    <tr>
                        <td><strong>{{ field['label'] }}:</strong></td>
                        <td colspan="2">{{ field['value'] }}</td>
                        <td width="50" class="filterable">
                            {% if field_name in filter_fields %}
                                <a title="View all records where {{ field_name }}={{ field['value'] }}" href="{{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id, filters='%s:%s' % (field_name, field['value'])) }}">
                                    <i class="icon-filter"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            <tbody>

        {% endfor %}

        {% if c.related_records %}

            <tr><th colspan="3">Related records</th></tr>
            <tr>
                <td><strong>Records:</strong></td>
                <td>
                    <ul>
                    {% for record in c.related_records %}
                        <li>{{ h.link_to(record['title'], h.url_for(controller='ckanext.nhm.controllers.record:RecordController', action='view', package_name=pkg.name, resource_id=res.id, record_id=record['_id'])) }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>

        {%  endif %}


    </table>

{% endblock %}

{% block record_additional_information_rows %}

   <tr>
    <th scope="row">{{ _('Created') }}</th>
    <td>{{ h.render_datetime(rec.created) }}</td>
  </tr>
   <tr>
    <th scope="row">{{ _('Last updated') }}</th>
    <td>{{ h.render_datetime(rec.modified) }}</td>
  </tr>

  {{ super() }}

{% endblock %}


