{% extends "record/view.html" %}

{% block content_primary_nav %}

  {{ h.build_nav_icon('specimen', _('Normal view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}
  {{ h.build_nav_icon('dwc', _('Darwin Core view'), package_name=pkg.name, resource_id=res.id, record_id=rec._id) }}

{% endblock %}

{% block record_data %}

    <table>

        {% for group, fields in c.field_data.items() %}

            <tr><th colspan="3">{{ group }}</th></tr>

            {% for label, value in fields.items() %}

                <tr>
                    <td><strong>{{ label }}:</strong></td>
                    <td colspan="2">{{ value }}</td>
                </tr>

            {% endfor %}

        {% endfor %}

    </table>

{% endblock %}
