{% extends "record/collection.html" %}

{% block head_extras -%}
    {{ super() }}
    {% set canonical_url = h.get_object_url(res.id, g.record_dict['occurrenceID'], g.version, include_version=g.version is not none) %}
    <meta property="og:url" content="{{ canonical_url }}">
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- this isn't right as we're not matching up to a schema.org @context but until we
         decide how to deal with this, here's the rdf version of this specimen in jsonld -->
    <script type="application/ld+json">
        {{ h.get_specimen_jsonld(g.record_dict['occurrenceID'], g.version) | indent(8) | safe }}
    </script>
{% endblock -%}

{% block styles %}
   {{ super() }}
   <link rel="alternate" type="text/n3" href="{{ h.url_for('object.rdf', uuid=g.record_dict['occurrenceID'], _format='n3', qualified=True) }}"/>
   <link rel="alternate" type="text/ttl" href="{{ h.url_for('object.rdf', uuid=g.record_dict['occurrenceID'], _format='ttl', qualified=True) }}"/>
   <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for('object.rdf', uuid=g.record_dict['occurrenceID'], _format='xml', qualified=True) }}"/>
   <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for('object.rdf', uuid=g.record_dict['occurrenceID'], _format='rdf', qualified=True) }}"/>
   <link rel="alternate" type="application/ld+json" href="{{ h.url_for('object.rdf', uuid=g.record_dict['occurrenceID'], _format='jsonld', qualified=True) }}"/>
{% endblock -%}

{% block content_primary_nav %}
    {% for nav in h.build_specimen_nav_items(g.pkg.name, res.id, rec._id, g.version) %}
        <li>
            {{ nav }}
        </li>
    {% endfor %}
{% endblock %}
