{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% set collection_stats = h.collection_stats() %}

{% block content %}
  <div class="homepage layout-3">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}

    <div role="main" class="hero">
      <div class="container">
        <div class="row row2">
          <div class="span9 col2">

            <div class="module-content">
              <header>
                {% if intro %}
                  {{ h.render_markdown(intro) }}
                {% else %}
                  <h1 class="page-heading">Explore, visualize and download the Natural History Museum’s collection and research data.</h1>
                {% endif %}
              </header>
            </div>

          </div>
          <div class="span3 col1">
            {% block stats %}
              {% snippet 'home/snippets/stats.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <div role="main">
      <div class="container">
        <div class="row row2">
          <div class="col2">
            <div class="module-content box">
                <h2>Search the Natural History Museum Specimen Collection </h2>
                <h3><a href="{{ h.url_for_collection_view() }}">{{ h.delimit_number(collection_stats['total']) }}</a> of the Natural History Museum's specimens are now available online</h3>
                {% block search %}
                  {% snippet 'home/snippets/search.html' %}
                {% endblock %}

                <p>
                    {% for collection_code, count in collection_stats['collections'].items() %}
                        <a href="{{ h.url_for_collection_view(collectionCode=collection_code) }}">{{ h.delimit_number(count) }}</a> {{ h.get_department(collection_code) }}
                    {%  endfor %}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div role="main">
        <div class="container">
          <div class="row row2">
              {% snippet 'home/snippets/featured_dataset1.html' %}
              {% snippet 'home/snippets/featured_dataset2.html' %}
              {% snippet 'home/snippets/featured_dataset3.html' %}
          </div>
        </div>
      </div>

    {% endblock %}

  </div>
{% endblock %}