{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block styles %}
   {{ super() }}
   <link rel="alternate" type="text/n3" href="{{ h.url_for('dcat_catalog', _format='n3', qualified=True) }}"/>
   <link rel="alternate" type="text/ttl" href="{{ h.url_for('dcat_catalog', _format='ttl', qualified=True) }}"/>
   <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for('dcat_catalog', _format='xml', qualified=True) }}"/>
   <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for('dcat_catalog', _format='rdf', qualified=True) }}"/>
{% endblock -%}

{% set collection_stats = h.collection_stats() %}

  {% block header %}

   <div class="extended-masthead" id="content">

    {{ super() }}

      <div class="container">
        <div class="row">
          <div class="span8">
              <header>
                 <h2 class="welcome">Explore and download the Natural History Museum’s research and collections data.</h2>
              </header>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            {% block stats %}
              {% snippet 'home/snippets/stats.html' %}
            {% endblock %}
          </div>
        </div>
      </div>

      <div class="container specimen-collection default-text-color">
        <div class="row">
          <div class="span12">
             <div class="module-content">
                <h1>Search the Natural History Museum Specimen Collection</h1>
                <h3><a href="{{ h.url_for_collection_view() }}">{{ h.delimit_number(collection_stats['total']) }}</a> of the Museum's 80 million specimens are now available online.</h3>
                {% block search %}
                  {% snippet 'home/snippets/search.html' %}
                {% endblock %}
            </div>
          </div>
        </div>
      </div>

   </div>
   {% endblock %}

{% block content %}
  <div class="homepage">

    {% block primary_content %}

    <div class="container collection-stats">
        <div class="row">
            <div class="span12">
                <div class="module-content">
                    <ul class="unstyled inline">
                       {% for collection_code, count in collection_stats['collections'].items() %}
			                {% if collection_code %}
                          	    {% set dept = h.get_department(collection_code) %}
                                <li><a href="{{ h.url_for_collection_view(filters={'collectionCode': collection_code}) }}"><i class="{{ dept|lower }}"></i><span>{{ h.delimit_number(count) }}</span><span class="default-text-color">{{ dept }}</span></a></li>
                       	   {% endif %}		
			            {% endfor %}
                   </ul>
               </div>
            </div>
        </div>
    </div>

    <div class="container">
      {{ self.flash() }}
    </div>

      <div role="main">
        <div class="container">
          <div class="row">
              <div class="span12">
                  <h3>Featured datasets</h3>
                  <div class="row">
                      {% snippet 'home/snippets/featured/dataset1.html' %}
                      {% snippet 'home/snippets/featured/dataset2.html' %}
                      {% snippet 'home/snippets/featured/dataset3.html' %}
                  </div>
               </div>
          </div>
        </div>
      </div>

      <div role="main">
        <div class="container">
          <div class="row">
              <div class="span12">
                  <h3>Use the data</h3>
                  <div class="row">

                    {% snippet 'home/snippets/actions/explore.html' %}
                    {% snippet 'home/snippets/actions/download.html' %}
                    {% snippet 'home/snippets/actions/cite.html' %}

                  </div>
               </div>
          </div>
        </div>
      </div>

    {% endblock %}

  </div>
{% endblock %}
