{% ckan_extends %}

{% block facet_list_heading %}
    <div class="flex-container flex-between flex-stretch-first nav-simple-heading">
        <h2 class="module-heading">
            <i class="fa fa-filter"></i> {% set title = title or h.get_facet_title(name) %} {{ title }}
        </h2>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#nav-{{ name }}" aria-expanded="false">
            <span class="sr-only">expand</span>
        </button>
    </div>
{% endblock %}

{% block facet_list_items %}
    {% with items = items or h.get_facet_items_dict(name) %}
        <nav>
            <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }} navbar-collapse collapse"
                id="nav-{{ name }}">
                {% if items %}

                    {% for item in items %}
                        {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                        {% set label = label_function(item) if label_function else item.display_name %}
                        {% set label_truncated = h.truncate(label, 22) if not label_function else label %}
                        {% set count = count_label(item['count']) if count_label else ('(%d)' % item['count']) %}
                        <li class="

                            {{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
                            <a href="{{ href }}"
                                title="{{ label if label != label_truncated else '' }}">
                                <span>{{ label_truncated }} {{ count }}</span> </a>
                        </li>
                    {% endfor %}
                    <li class="module-footer">
                        {% if h.get_param_int('_%s_limit' % name) %}
                            {% if h.has_more_facets(name, g.search_facets) %}
                                <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
                                    class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}
                                    <i class="fas fa-plus-circle"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
                                class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}
                                <i class="fas fa-minus-circle"></i></a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endwith %}
{% endblock %}
