{% ckan_extends %}

{% block package_item %}

<tr>
    <td class="td-package">
        {% block heading %}
            {{ super() }}
        {% endblock %}

        {% block notes %}
            {{ super() }}
        {% endblock %}

        {% block resources %}
            {{ super() }}
        {% endblock %}

    </td>

    <td class="td-author">
        {% if package.author %}
            {{ package.author }}
        {% endif %}
    </td>

    <td class="td-category">
        {% if package.dataset_category %}
            {{ package.dataset_category[0] }}
        {% endif %}
    </td>

    <td class="td-license">
        {% if package.license_title %}
            {{ package.license_title }}
        {% endif %}
    </td>

</tr>

{% endblock %}