{% ckan_extends %}

{% block user_about %}
  {% if about_formatted %}
    {{ about_formatted }}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  {# Remove user from breadcrumb {{ h.build_nav('user_index', _('Users')) }} #}
  {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
{% endblock %}

{% block user_image %}
  {% set gravatar_size = 190 %}
    <div class="image" style="max-width: {{ gravatar_size }}px">{{ h.user_image(user.id, gravatar_size) }}</div>
{% endblock %}

{% block user_info %}
      <div class="info">
        <dl>
          {% if user.name.startswith('http://') or user.name.startswith('https://') %}
            <dt>{{ _('Open ID') }}</dt>
            <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
          {% else %}
            <dt>{{ _('Username') }}</dt>
            <dd>{{ user.name }}</dd>
          {% endif %}
        </dl>
        {% if is_myself %}
          <dl>
            <dt>{{ _('Email') }} <span class="label label-dark space-left" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd>{{ user.email }}</dd>
          </dl>
        {% endif %}
        <dl>
          <dt>{{ _('Member Since') }}</dt>
          <dd>{{ h.render_datetime(user.created) }}</dd>
        </dl>
        <dl>
          <dt>{{ _('State') }}</dt>
          <dd>{{ user.state }}</dd>
        </dl>
        {% if is_myself and h.is_ldap_user() %}
          <dl>
            <dt class="key">{{ _('API Key') }} <span class="label label-dark space-left" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd class="value"><code>{{ user.apikey }}</code></dd>
          </dl>
        {% endif %}
    {% block user_info_extras %}
        {{ super() }}
    {% endblock %}
      </div>
{% endblock %}

{% block content_primary_nav %}
    {{ super() }}
    {{ h.build_nav_icon('nhm_user.orgs', _('Organisations'), username=user.name, icon='users') }}
{% endblock %}
