{% set collection_stats = h.collection_stats() %}

<p>The Natural History Museum’s main dataset is the collection database that currently holds <a href="{{ h.url_for_collection_view() }}">{{ h.delimit_number(collection_stats['total']) }}</a> records, a number due to rise to 20 million over the next 5 years.</p>
<p>The digital collection programme plans to digitise 20 million specimens from the Museum’s
{% for collection_code in collection_stats['collections'].keys() %}
    <a href="{{ h.url_for_collection_view(collectionCode=collection_code) }}">{{ h.get_department(collection_code) }}</a>,
{%  endfor %}
collections in 5 years, a quarter of the Museum’s 80 million specimens.</p>
<p>The Museum has over 600 curators, researchers, scientific associates, students and volunteers. Our scientists generate over 1,000 scientific papers published annually and datasets from these publications will be available through the portal.</p>
<h3>The collection</h3>
<p>Our collection holds more than 80 million specimens and one million type specimens. Almost all animal, plant, mineral and fossil groups are represented. </p>
<p>It is one of the most important natural history collections in the world, documenting 4.5 billion years of life, the Earth and the solar system.</p>
<p><a href="http://www.nhm.ac.uk/research-curation/collections/our-collections/index.html">More about our collections</a></p>
