{% set collection_stats = h.collection_stats() %}
{% set collection_codes = collection_stats['collectionCodes'].keys() | list %}

<p>
    The Museum is committed to open access and open science, and has launched the Data Portal to
    make its research and collections datasets available online. It allows anyone to explore,
    download and reuse the data for their own research.
</p>

<h2>Museum collection</h2>

<p>
    Our natural history collection is one of the most important in the world, documenting 4.5
    billion years of life, the Earth and the solar system.  Almost all animal, plant, mineral and
    fossil groups are represented.
</p>
<p>
    The portal's main dataset consists of specimens from the Museum's collection database, with
    <a aria-label="Specimens" href="/search/specimens">
        {{ h.delimit_number(collection_stats['specimens']) }}</a>
    records from the Museum’s

    {% for collection_code in collection_codes %}
        {% set dept = h.get_department(collection_code) %}
        {% set is_last = (collection_codes.index(collection_code) == (collection_codes.__len__() - 1)) %}
        <a title="{{ dept }} specimens" href="/search/{{ dept | lower }}">{{ dept }}</a>{% if not is_last %}, {% endif %}
    {%  endfor %}

    collections.
</p>
<p>
    We also have
    <a title="Index lots" href="/search/indexlots">
        {{ h.delimit_number(collection_stats['indexlots']) }} species-level
    </a>
    (index lot) records, which denote the presence of a taxon in the Museum collection.
</p>
<p>
    These datasets will increase exponentially. Under the Museum's ambitious digital collections
    programme we aim to have 20 million specimens digitised in the next five years.
</p>
<p>
    <a class="external" target="_blank" href="http://www.nhm.ac.uk/research-curation/collections/our-collections/index.html">
        More about our collections
    </a>
</p>

<h2>Research datasets</h2>
<p>
    The Museum has over 600 curators, researchers, scientific associates, students and volunteers.
    Our scientists publish circa 1,000 scientific papers annually and datasets from these
    publications will be available through the portal.
</p>

<h2>Help us improve our collection</h2>
<p>
    Digitising and databasing our vast collections is a huge and evolving task.  As a result some
    records in the Data Portal may contain erroneous data.  If you find a record that needs
    correcting, please tell us at <a href="mailto:data@nhm.ac.uk">data@nhm.ac.uk</a>, or use the
    feedback mechanism embedded on the page.
</p>
