{#
Displays the about menu
#}

<section class="module module-narrow">
  <div class="module context-info">


      {% block about_menu %}
        <nav class="section navigation">
          <ul class="nav nav-simple" id="about-menu">
              {{ h.build_nav_main(
                ('home.about', _('About')),
                ('about.citation', _('Citation and attribution')),
                ('about.datacite', _('DataCite Service Provider')),
                ('about.download', _('Download and API')),
                ('statistics.resources', _('Site statistics')),
                ('about.credits', _('Credits')),
                ('about.aohc', _('Acknowledgement of harmful content')),
              ) }}
            </ul>
         </nav>
        {% endblock %}


  </div>
</section>
