{#
Displays the about menu
#}

<section class="module module-narrow">
  <div class="module context-info">

    {% block heading %}
        <h2 class="module-heading">About</h2>
    {% endblock %}

    <div class="module-content">
        {% block about_menu %}
        <nav class="section navigation">
          <ul class="nav nav-pills" id="about-menu">
              {{ h.build_nav_main(
                ('about_data_usage', _('Data usage')),
                ('about_statistics', _('Statistics')),
                ('about_credits', _('Credits'))
              ) }}
            </ul>
         </nav>
        {% endblock %}
    </div>

  </div>
</section>


