div.resource-view-filter-options {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #DDD;
}

div.resource-view-filter-options:after {
    content: "";
    display: table;
    clear: both;
}

label.resource-view-filter-option {
    display: block;
    font-weight: normal;
    float: left;
    margin-right: 32px;
}

label.resource-view-filter-option:after {
    content: "";
}

label.resource-view-filter-option input {
    vertical-align: middle;
    position: static;
    display: inline-block;
    margin-right: 2px;
}

label.resource-view-filter-option span {
    vertical-align: middle;
}
