{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('E.g. Pediculus humanus') %}

<div class="module module-search module-narrow module-shallow">
  <form class="module-content search-form collection-search-form" method="get" action="{{ h.url_for_collection_view() }}">
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>
