{% set stats = h.get_site_statistics() %}

<div class="stats">
    <div class="stat-item">
        <a href="{{ h.url_for('statistics.records') }}">
            <div class="stat-number">{{ h.SI_number_span(stats.record_count) }}</div>
            <span class="stat-text">
                {{ _('record') if stats.record_count == 1 else _('records') }}
            </span>
        </a>
    </div>

    <div class="stat-item">
        <a href="{{ h.url_for('dataset.search') }}">
            <div class="stat-number">{{ h.SI_number_span(stats.dataset_count) }}</div>
            <span class="stat-text">
                {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
            </span>
        </a>
    </div>

    <div class="stat-item">
        <a href="{{ h.url_for('statistics.contributors') }}">
            <div class="stat-number">{{ h.SI_number_span(stats.contributor_count) }}</div>
            <span class="stat-text">{{ _('author') if stats.contributor_count == 1 else _('authors') }}</span>
        </a>
    </div>
</div>
