{% set stats = h.get_site_statistics() %}

<div class="stats">
  <div class="inner">
    <ul>
      <li>
        <a href="{{ h.url_for(controller='package', action='search') }}">
          <b>{{ h.SI_number_span(stats.dataset_count) }}</b>
          {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
        </a>
      </li>

      <li>
        <a href="{{ h.url_for(controller='ckanext.nhm.controllers.page:PageController', action='about_statistics') }}">
          <b>{{ h.SI_number_span(stats.record_count) }}</b>
          {{ _('record') if stats.record_count == 1 else _('records') }}
        </a>
      </li>

      <li>
        <a href="{{ h.url_for(controller='ckanext.nhm.controllers.page:PageController', action='about_statistics') }}">
          <b>{{ h.SI_number_span(stats.contributor_count) }}</b>
          {{ _('contributor') if stats.contributor_count == 1 else _('contributors') }}
        </a>
      </li>

    </ul>
  </div>
</div>
