{% from 'macros/keemu-record.html' import taxonomy, material_detail %}

{% extends "keemu-record/base.html" %}

{% block record_data %}

    <table>

        {% if rec['material']: %}
             <tr><td>Material:</td><td>{{rec['material']}}</td></tr>
        {% endif %}

        {% if rec['is_type']: %}
             <tr><td>Type:</td><td>{{rec['is_type']}}</td></tr>
        {% endif %}

        {% if rec['kind_of_material']: %}
            <tr><td>Kind of material:</td><td>{{rec['kind_of_material']}}</td></tr>
        {% endif %}

        {% if rec['kind_of_media']: %}
             <tr><td>Kind of media:</td><td>{{rec['kind_of_media']}}</td></tr>
        {% endif %}

        {% if rec['determination']: %}
            <tr><td>Determination:</td><td>{{ taxonomy(rec['determination']) }}</td></tr>
        {% endif %}

        {% if rec['material_detail']: %}
            <tr><td>Material detail:</td><td>{{ material_detail(rec['material_detail']) }}</td></tr>
        {% endif %}

    </table>

{% endblock %}