{% from 'macros/keemu-record.html' import stratigraphy %}
{% extends "keemu-record/specimen.html" %}


{% block relationship_fields %}

    {% if rec['class_relationship_fields']['mineralogical_age']: %}
         <table>
             <thead>
                <tr>
                    <th>Age</th>
                    <th>Type</th>
                    <th>Method</th>
                </tr>
             </thead>
             <tbody>
                {% for mineralogical_age in rec['class_relationship_fields']['mineralogical_age']: %}
                    <tr>
                        <td>{{ mineralogical_age.age }}</td>
                        <td>{{ mineralogical_age.age_type }}</td>
                        <td>{{ mineralogical_age.method }}</td>
                    </tr>
                {% endfor %}
             </tbody>
        </table>
    {% endif %}

    {{ super() }}

{% endblock %}
