.fa-arrows:before {
  content: '\f338' !important;
}
.fa-cloud-upload:before {
  content: '\f382' !important;
}
@font-face {
  font-family: 'nhm_ingrid_lightregular';
  src: url('/fonts/nhmingligreg-webfont.eot');
  src: url('/fonts/nhmingligreg-webfont.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'nhm_ingridregular';
  src: url('/fonts/nhmingreg-webfont.eot');
  src: url('/fonts/nhmingreg-webfont.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Elysio Light';
  src: url('/fonts/2CFBF8_0_0.woff2') format('woff2');
  src: url('/fonts/2CFBF8_0_0.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Elysio Medium';
  src: url('/fonts/2CFBF8_1_0.woff2') format('woff2');
  src: url('/fonts/2CFBF8_1_0.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Elysio Regular';
  src: url('/fonts/2CFBF8_2_0.woff2') format('woff2');
  src: url('/fonts/2CFBF8_2_0.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Elysio Thin';
  src: url('/fonts/2CFBF8_3_0.woff2') format('woff2');
  src: url('/fonts/2CFBF8_3_0.woff') format('woff');
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Elysio Regular', 'Open Sans', sans-serif;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}
.specimen_popup {
  height: 500px;
  overflow-y: auto;
  width: 500px;
}
.specimen_popup_small {
  height: 100%;
}
.specimen {
  display: flex;
  border-bottom: #d8d0d0 1px solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 470px;
}
.specimenDetails {
  flex: 50%;
  font-family: 'Elysio Regular', 'Open Sans', sans-serif;
}
.scientificName {
  font-style: italic;
}
.commonName {
  font-weight: bold;
}
.specimenMedia {
  flex: 50%;
}
.specimen img {
  width: 250px;
}
#details {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 325px;
  border: solid 1px black;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
  margin: 10px;
  font-size: 0.9em;
}
#logo {
  margin-top: 20px;
  margin-bottom: 10px;
}
