@-webkit-keyframes colourShift {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes colourShift {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes colourShift {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes colourShift {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.fa-arrows:before {
  content: '\f338' !important;
}
.fa-cloud-upload:before {
  content: '\f382' !important;
}
/* Leaflet controls */
.leaflet-container .leaflet-bar {
  border: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.4);
  padding: 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
.leaflet-container .leaflet-bar a {
  border: 3px solid #228900 !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  margin-bottom: 5px;
}
.leaflet-container .leaflet-bar a:last-child {
  margin-bottom: 0;
}
.leaflet-container .leaflet-bar a,
.leaflet-container .leaflet-bar a:after,
.leaflet-container .leaflet-bar a:visited {
  color: #188100;
}
.leaflet-container .leaflet-control-draw-rectangle {
  background-image: url("/images/leaflet/pencil.png");
}
.leaflet-container .leaflet-draw-section .leaflet-draw-toolbar a {
  background-image: url('/images/leaflet/spritesheet.png');
}
.leaflet-container .leaflet-draw-actions a,
.leaflet-container .leaflet-draw-actions a:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #188100 !important;
}
.leaflet-container .leaflet-draw-actions {
  left: 40px!important;
}
.leaflet-container .leaflet-top,
.leaflet-container .leaflet-bottom {
  z-index: 400;
}
