.account ul li{
    display: inline;
    padding: 0 2px;
}

.collection-stats ul li:first-child{
    width: 20%;
}

.search-form .search-input input{
    line-height: normal;
}

.search-form .search-input button{
    background: transparent!important;
}

.search-form .search-input button i{
    position: inherit;
    line-height: normal;
    margin-top: 7px;
    color: #185C0C!important;
}

.ie7 .toolbar .breadcrumb li{
    background: none!important;
}

#dataset-map,
.dataset-map-section,
.module-resource .view-list,
.module-resource .resource-view{
    display: none
}