.fa-arrows:before {
  content: '\f338' !important;
}
.fa-cloud-upload:before {
  content: '\f382' !important;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-border-radius {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-underline {
  text-decoration: none !important;
}
.no-hover a:hover {
  color: inherit !important;
}
.no-spacing {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .minimal-padding {
    padding: 1px 0;
  }
}
@media (min-width: 992px) {
  .minimal-padding {
    padding: 1px;
  }
}
.block-inline {
  display: inline-block;
}
