.fa-arrows:before {
  content: '\f338' !important;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-border-radius {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.no-underline {
  text-decoration: none !important;
}
.no-hover a:hover {
  color: inherit !important;
}
.no-spacing {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .minimal-padding {
    padding: 1px 0;
  }
}
@media (min-width: 992px) {
  .minimal-padding {
    padding: 1px;
  }
}
.block-inline {
  display: inline-block;
}
@font-face {
  font-family: 'nhm_ingrid_lightregular';
  src: url('/fonts/nhmingligreg-webfont.eot');
  src: url('/fonts/nhmingligreg-webfont.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-style: normal;
}
@font-face {
  font-family: 'nhm_ingridregular';
  src: url('/fonts/nhmingreg-webfont.eot');
  src: url('/fonts/nhmingreg-webfont.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 0.4em;
}
h1,
h2,
h3,
h4 {
  margin: 20px 0 10px;
}
h1 {
  font-size: 32px;
}
h1.site-title {
  font-weight: normal;
  font-family: 'nhm_ingridregular', 'Open Sans', sans-serif;
  margin: 18px 0 0 0;
  font-size: 42px;
  letter-spacing: 1px;
}
h2 {
  font-size: 30px;
}
h2.welcome {
  margin: 30px 0 0 0;
  line-height: 1.3;
  text-shadow: 1px 1px #343434;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
a {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a.external:after {
  content: "\f08e";
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  display: inline-block;
  font-size: 0.7em;
  line-height: 10px;
  position: relative;
  top: -3px;
  left: 3px;
  margin-right: 5px;
}
a.external:after:hover {
  text-decoration: none;
}
body {
  min-height: 100vh;
  position: relative;
  background: #FFFFFF;
}
body,
body .default-text {
  font-size: 14px;
  color: #343434;
}
body a,
body .default-text a {
  color: #188100;
}
body a:hover,
body .default-text a:hover,
body a:focus,
body .default-text a:focus {
  color: #343434;
  text-decoration: none !important;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container > * {
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column > * {
  vertical-align: center;
}
.flex-reverse.flex-container {
  flex-direction: row-reverse;
}
.flex-reverse.flex-column {
  flex-direction: column-reverse;
}
.flex-top {
  align-items: flex-start;
}
.flex-top > * {
  align-self: flex-start;
}
.flex-stretch-height {
  align-items: stretch;
}
.flex-stretch-height > * {
  align-self: stretch;
  height: auto !important;
}
.flex-stretch-first:not(.flex-reverse) > *:first-child {
  flex-grow: 1;
}
.flex-stretch-first.flex-reverse > *:last-child {
  flex-grow: 1;
}
.flex-stretch-last:not(.flex-reverse) > *:last-child {
  flex-grow: 1;
}
.flex-stretch-last.flex-reverse > *:first-child {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap > * {
  text-align: left;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
@media (max-width: 575px) {
  .flex-nowrap {
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) {
  .flex-nowrap {
    flex-wrap: nowrap;
  }
}
@media (max-width: 991px) {
  .flex-equal > * {
    flex: 0 1 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .flex-equal > * {
    flex: 1 1 0;
  }
  .flex-equal > *:first-child {
    margin-left: 0;
  }
  .flex-equal > *:last-child {
    margin-right: 0;
  }
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .flex-right {
    justify-content: space-around;
  }
}
.flex-child-grow {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .collapse-to-icon {
    font-size: 0;
  }
  .collapse-to-icon .fa,
  .collapse-to-icon .fas {
    margin: 0 !important;
    line-height: 1em;
    font-size: 17px;
    vertical-align: middle;
  }
}
@media (min-width: 768px) {
  .collapse-to-icon .fas:first-child,
  .collapse-to-icon .fa:first-child {
    margin-right: 10px !important;
  }
}
.gravatar {
  margin: 7px 5px 10px;
}
.handle i {
  position: relative;
  top: -1px;
  left: 3px;
}
.icon {
  font-family: 'FontAwesome', sans-serif !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 'normal' !important;
}
.inline-icon-left {
  padding-right: 10px;
}
.inline-icon-right {
  padding-left: 5px;
}
.inline-list-pad li {
  padding-right: 5px;
}
.inline-list-pad li:last-child {
  padding-right: 0;
}
.pad-children-h > * {
  padding-left: 5px;
  padding-right: 5px;
}
.pad-children-h > *:first-child {
  padding-left: 0;
}
.pad-children-h > *:last-child {
  padding-right: 0;
}
.pagination-wrapper .pagination {
  border: none !important;
}
.pagination-wrapper .pagination a {
  border: none !important;
  border-radius: 20px !important;
  color: #188100 !important;
  float: none !important;
  padding: 4px 9px !important;
}
.pagination-wrapper .pagination .active a,
.pagination-wrapper .pagination a:hover,
.pagination-wrapper .pagination a:focus {
  background-color: #188100 !important;
  color: #FFFFFF !important;
}
.placeholder {
  border: 1px solid #DDDDDD;
}
.search {
  padding: 5px;
}
span.caret {
  margin-left: 10px !important;
}
.stages {
  margin-left: 0;
  margin-right: 0;
}
.stages .highlight {
  text-indent: 0 !important;
}
.stages .active:after {
  border-top-color: #71C85B;
  border-bottom-color: #71C85B;
}
.stages .active:before {
  color: #71C85B;
}
.stages .active .highlight {
  background: #71C85B;
}
.stats {
  text-align: right;
}
@media (max-width: 992px) {
  .stats {
    margin-top: 20px;
  }
}
.stats > * {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.stats > *:last-child {
  border-right: none;
}
.stats .stat-item {
  padding: 0 20px 15px;
}
@media (max-width: 576px) {
  .stats .stat-item {
    padding: 0 10px 10px;
  }
}
.stats .stat-item:last-child {
  padding-right: 0;
}
.stats .stat-item a {
  font-size: 28px;
  padding-bottom: 6px;
}
.stats .stat-item .stat-text {
  font-size: 17px;
  display: block;
  color: #0E4609;
}
.box {
  background: #F2F2F2;
  color: #343434;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 10px;
  height: 100%;
}
.box a {
  color: #188100;
}
.box a:hover,
.box a:focus {
  color: #343434;
  text-decoration: none !important;
}
.box .module-content {
  padding: 15px;
  margin: 0;
}
@media (min-width: 768px) {
  .box .media-image + .module-content {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .box .media-image + .module-content {
    max-width: 100%;
  }
}
.box h4,
.box h5 {
  margin-top: 0;
}
.box p {
  margin: 0;
}
.box .box-text {
  min-height: 90px;
  position: relative;
}
.box .box-text p {
  margin-bottom: 10px;
}
.box .text-right.text-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container {
  width: 95%;
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.list-inline > li {
  vertical-align: bottom;
}
[role=main],
.main {
  background: transparent;
  padding-top: 40px;
  position: relative;
  min-height: 100%;
}
[role=main] > *:last-child,
.main > *:last-child {
  padding-bottom: 300px;
}
.masthead {
  padding: 3px 0;
  background: #188100;
  color: #FFFFFF;
}
.masthead a {
  color: #FFFFFF;
}
.masthead a:hover,
.masthead a:focus {
  color: #BBEDA9;
  text-decoration: none !important;
}
.masthead a:hover {
  color: inherit !important;
}
.masthead .logo {
  float: left;
  margin: 10px 25px 14px 0;
}
@media (min-width: 768px) {
  .masthead .navigation {
    float: right !important;
  }
}
@media (max-width: 767px) {
  .masthead .navigation {
    float: left !important;
  }
}
.masthead .navigation .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.masthead .navigation .nav-pills {
  margin-top: 25px;
}
.masthead .navigation .nav-pills li {
  margin: 0 5px;
}
.masthead .navigation .nav-pills li a {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
  font-weight: normal;
}
.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}
.masthead .navigation .nav-pills li a:focus {
  background: none !important;
}
.masthead .account {
  margin-top: 25px;
  margin-bottom: 12px;
  text-align: right;
}
.masthead .account.not-authed > ul {
  padding-top: 9px;
}
.masthead .account li {
  display: inline-block;
}
.module {
  padding: 0 15px 15px 15px !important;
  border: none;
}
.module-content {
  padding: 0;
}
.module-heading {
  border: none;
}
.module-heading:before,
.module-heading:after {
  display: none;
}
.module-narrow {
  padding: 0 !important;
}
.page-header {
  border-bottom: none;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-bottom: 0;
  padding-top: 15px;
  margin: 0 !important;
}
.page-header .content_action {
  margin: 0;
}
.page-header > .row > div {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .page-header .nav-tabs > li {
    float: left;
  }
}
@media (min-width: 992px) {
  .page-header .nav-tabs {
    flex-grow: 1;
  }
}
@media (max-width: 767px) {
  .page-header .nav-tabs {
    flex-grow: 1;
  }
  .page-header .nav-tabs + * {
    flex-grow: 0;
  }
}
.primary {
  padding: 0;
}
.secondary {
  background: transparent;
  padding: 0 0 15px !important;
}
.secondary .module ul {
  background-color: #F2F2F2;
}
.secondary .module-heading {
  background: #C3C3C3;
}
.secondary .nav > li > a:hover,
.secondary .nav > li > a:focus {
  background-color: #DDDDDD;
}
.secondary .nav-aside {
  border-top: none;
  border-bottom: none;
}
.secondary .nav-simple > li,
.secondary .nav-aside > li {
  border-bottom: 1px solid #FFFFFF;
}
.secondary .active a,
.secondary .active a:hover,
.secondary .active a:focus {
  background-color: #656565 !important;
}
.secondary .active a:before {
  border-left-color: #656565 !important;
}
.secondary .read-more {
  display: block;
  text-align: right;
  font-size: 12px;
  text-decoration: none;
}
.secondary .read-more i {
  padding-left: 3px;
}
.secondary table {
  margin: 0 0 10px 0;
}
.secondary table th {
  font-weight: normal;
}
.secondary table td {
  width: 10px;
  text-align: right;
}
.site-footer {
  min-height: 300px;
  background: #343434;
  color: #9A9A9A;
  padding: 0 0 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.site-footer a {
  color: #FFFFFF;
}
.site-footer a:hover,
.site-footer a:focus {
  color: #C3C3C3;
  text-decoration: none !important;
}
.site-footer .nav {
  margin: 20px 0;
  padding: 0;
  height: 100%;
}
.site-footer .nav .open > a,
.site-footer .nav a:hover,
.site-footer .nav a:focus {
  background: none !important;
  color: #9A9A9A !important;
}
.site-footer .nav > li {
  padding: 0 10px;
}
@media (min-width: 768px) {
  .site-footer .nav > li {
    margin: 10px 0;
  }
}
.site-footer .nav > li a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
}
.site-footer .nav > li .dropdown-menu {
  background: #343434;
  color: #9A9A9A;
  padding: 5px;
  margin: 5px;
}
.site-footer .nav > li .dropdown-menu a {
  color: #FFFFFF;
}
.site-footer .nav > li .dropdown-menu a:hover,
.site-footer .nav > li .dropdown-menu a:focus {
  color: #C3C3C3;
  text-decoration: none !important;
}
.site-footer .nav > li .dropdown-menu > * {
  border-bottom: 1px solid #9A9A9A;
}
.site-footer .nav > li .dropdown-menu > *:last-child {
  border-bottom: none;
}
.site-footer .nav > li .dropdown-menu a {
  padding: 5px;
  font-size: 12px;
}
.site-footer .dev-info {
  margin-top: 40px;
}
.site-footer p {
  margin-bottom: 25px;
}
.site-footer .attribution {
  margin-top: 30px;
}
.site-footer .attribution li {
  margin-top: 10px;
  margin-bottom: 20px;
}
.site-footer .attribution strong {
  font-weight: normal;
}
.toolbar {
  background: #BBEDA9;
  padding: 0;
  margin: 0;
}
.toolbar .breadcrumb {
  font-size: 12px;
  padding: 3px 0;
}
.toolbar .breadcrumb a {
  color: #5B5B5B !important;
  font-weight: normal !important;
}
.toolbar .breadcrumb li:after {
  content: "\f105";
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  margin-left: 1em;
  color: #343434 !important;
}
.toolbar .breadcrumb li:before {
  content: "";
}
.toolbar .breadcrumb .active {
  font-weight: normal !important;
}
.toolbar .breadcrumb .home .icon-home {
  font-size: inherit;
}
.wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
}
.wrapper:before {
  display: none;
}
.navbar-collapse {
  overflow-y: visible !important;
  height: auto !important;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .navbar-collapse.collapse:not(.in) {
    display: block !important;
  }
  .navbar-collapse.collapse:not(.in).nav-simple > li + li {
    display: none;
  }
  .navbar-collapse.collapse:not(.in) > li:not(.active) {
    display: none;
  }
}
@media (min-width: 992px) {
  .nav-item.active > a:before,
  .nav-aside li.active a:before {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 100%;
    border: 8px solid transparent;
    border-left-color: #5B5B5B;
    margin-top: -8px;
  }
}
@media (max-width: 991px) {
  .nav-item.active > a:before,
  .nav-aside li.active a:before {
    border: none;
  }
}
.nav-pills .nav-item {
  background: none !important;
}
.nav-pills .nav-item a {
  margin: 0 !important;
}
.nav-pills .nav-item a:before {
  content: none !important;
}
.nav-simple {
  font-size: 14px !important;
}
.nav-simple > li {
  padding: 0 !important;
}
.nav-simple > li > * {
  padding: 10px 15px;
  margin: 0;
  font-size: 14px !important;
  line-height: 1.5em;
}
.nav-simple-heading {
  background-color: #C3C3C3;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}
.nav-tabs {
  border-bottom: none;
  margin: 0 !important;
  float: none !important;
}
.nav-tabs li {
  background-color: #F2F2F2;
  border-radius: 2px;
  margin-bottom: 0 !important;
  margin-right: 5px;
}
.nav-tabs li a,
.nav-tabs li a:hover {
  border: none !important;
  background: transparent !important;
  color: inherit;
  text-decoration: none;
}
.nav-tabs li.active {
  background-color: #5B5B5B;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-tabs li.active:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    border: 8px solid transparent;
    border-top-color: #5B5B5B;
    margin-left: -8px;
    z-index: 999;
  }
}
.navbar-toggle {
  z-index: 1;
  padding: 0 10px;
  height: 100%;
  text-align: left;
}
@media (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
}
.navbar-toggle:after {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\f0d8';
}
.navbar-toggle.collapsed:after {
  content: '\f0d7';
}
.navbar-toggle.side-toggle:after {
  content: '\f0d9';
}
.navbar-toggle.side-toggle.collapsed:after {
  content: '\f0da';
}
.navbar-toggle.side-toggle + * {
  padding-left: 0;
}
.pill {
  color: #FFFFFF;
  background-color: #5B5B5B;
  position: relative;
  top: 6px;
}
.pill .pill-txt {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.pill .pill-remove {
  float: right;
  margin-left: 5px;
}
.pill a:hover {
  color: #AFAFAF;
  text-decoration: none;
}
.control-group {
  margin: 5px 0 10px;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #890022;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error .add-on {
  border-color: #890022;
}
.control-group .controls p {
  margin: 4px 0 0 0;
}
.ckanpackager-form {
  padding: 10px !important;
  background: #DDDDDD;
  position: relative;
  left: 10px;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: none none solid solid;
  border-radius: 0;
  box-shadow: none;
}
.ckanpackager-form div {
  text-align: center;
  padding: 10px 0;
}
.ckanpackager-form .privacy-warning {
  text-align: left;
  padding: 10px 0 5px 0;
  font-size: 75%;
  border-top: 1px solid #AFAFAF;
}
.dataset-form #field-temporal-extent {
  width: 200px;
}
.form-actions {
  margin: 10px 0;
  padding: 20px 0;
}
.form-actions .action-info {
  width: auto;
  float: none;
  margin: 0 0 20px 0;
}
.form-horizontal .form-group {
  margin: 0 !important;
}
.search-form {
  border-bottom: none;
  margin-bottom: 0;
}
.search-form .search-input {
  margin-bottom: 15px;
}
.search-form .search-input input {
  border: none;
  background: #F2F2F2;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
}
.search-form .search-input button {
  width: 30px !important;
  height: 30px !important;
  margin-top: -15px !important;
  background: #188100;
  border-radius: 20px;
  right: 5px;
  padding: 0;
}
.search-form .search-input button:hover i,
.search-form .search-input button:active i {
  color: #FFFFFF !important;
}
.search-form .search-input button i {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 16px;
}
.search-form .search-input button i:hover {
  color: #FFFFFF !important;
}
.search-form .search-input.search-giant button {
  width: 40px !important;
  height: 40px !important;
  margin-top: -20px !important;
  right: 10px;
}
.search-form .search-input.search-giant button i {
  font-size: 22px;
  line-height: 40px;
}
.search-form .search-input.search-giant input {
  height: 50px;
  line-height: inherit;
}
@media (max-width: 991px) and (min-width: 768px) {
  .action .btn {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
  }
}
.actions {
  top: 5px;
}
.btn {
  border: none;
  border-radius: 2px !important;
}
.btn,
.btn-group > .btn:first-child {
  background: #188100;
  padding: 8px 16px;
  color: #FFFFFF;
  font-weight: normal;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:hover,
.btn.hover,
.btn.active,
.btn:focus,
.btn:active {
  background: #0E4609;
  color: #FFFFFF !important;
}
.btn i {
  font-size: initial;
}
.btn-danger {
  background: #890022;
}
.btn-danger:hover {
  background: #6E001B;
}
.btn-group,
.btn-group + .btn {
  margin-top: 5px;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0E4609;
}
.pull-right > .btn-group {
  margin-left: 15px;
}
.btn-mini {
  padding: 2px 6px;
}
.table th,
.table td {
  border-color: #DDDDDD;
}
.table-chunky thead th,
.table-chunky thead td {
  color: inherit;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
}
.table-chunky td,
.table-chunky th {
  font-size: inherit;
}
.table-no-border th,
.table-no-border td {
  border-top: none;
}
.table-record {
  width: 100%;
  table-layout: auto;
  margin: 20px 0;
}
.table-record th,
.table-record td {
  text-align: left;
  padding: 2px;
}
.table-record tbody {
  font-weight: normal;
}
.table-record thead th {
  background: #F2F2F2;
  padding: 8px 2px 8px 5px;
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
.table-record .filterable {
  text-align: right !important;
  padding-right: 2px !important;
  font-size: 12px;
}
.table-record > tbody:before {
  content: '';
  display: block;
  height: 10px;
}
.table-record > tbody:after {
  content: '';
  display: block;
  height: 20px;
}
.table-record .sub-table {
  margin: 0;
  background-color: #F2F2F2;
}
.table-record .sub-table td {
  padding-right: 10px;
}
.table-record .sub-table td:last-child {
  padding-right: 0;
}
.table-record .sub-table thead th {
  background-color: #DDDDDD;
  font-size: 14px;
}
@media (max-width: 575px) {
  .table-record {
    border-collapse: initial;
    border-spacing: 0 2px;
    border: none;
  }
  .table-record > tbody:before {
    content: '';
    display: block;
    height: 15px;
  }
  .table-record > tbody:after {
    content: '';
    display: block;
    height: 30px;
  }
  .table-record > tbody > tr {
    flex-flow: row wrap;
    display: flex;
  }
  .table-record > tbody > tr > td {
    flex: 1 100%;
  }
  .table-record > tbody > tr > td.filterable {
    margin-top: -24px;
  }
}
.table-responsive {
  border: none !important;
}
tr.empty {
  font-style: normal;
}
.table-hide-empty tr.empty {
  display: none;
}
.alert-danger,
.alert-error {
  background-color: #F8F0F0;
  border-color: #890022;
  color: #890022;
}
.error-block {
  background-color: #890022;
}
.select2-arrow {
  background-image: none !important;
  background-color: #FFFFFF !important;
  border: none !important;
}
.select2-arrow b {
  background: none !important;
}
.select2-arrow b:before {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\f03a';
  font-size: 12px;
}
.select2-choice {
  background-image: none !important;
  border: 1px solid #C3C3C3 !important;
}
.select2-choice abbr {
  background: none !important;
}
.select2-choice abbr:before {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\f00d';
  font-size: 12px;
  position: absolute;
  top: -9px;
}
select,
.select2-choice {
  height: 35px !important;
  line-height: 35px !important;
  top: 0 !important;
}
.select2-chosen {
  padding-left: 10px;
}
.select2-container {
  margin: 0;
  width: 100% !important;
}
.select2-hidden-accessible {
  font-size: 12px !important;
}
.select2-result-label span,
.select2-results {
  font-size: 12px !important;
}
.action-box {
  background: #188100;
  color: #FFFFFF;
}
.action-box a {
  color: #FFFFFF;
}
.action-box a:hover,
.action-box a:focus {
  color: #BBEDA9;
  text-decoration: none !important;
}
.action-box i.large {
  font-size: 30px;
  padding: 15px 0 15px 15px;
}
.collection-search-form {
  min-height: 20vw;
  background: url('/images/mapHeat.png') no-repeat center center !important;
  background-size: cover !important;
  border: none;
}
@media (max-width: 1199px) {
  .collection-search-form {
    padding: 80px 40px 60px !important;
  }
}
@media (min-width: 1200px) {
  .collection-search-form {
    padding: 80px 160px 60px !important;
    margin: 20px 15px 0 !important;
  }
}
.collection-search-form .search-input input {
  background: #FFFFFF;
}
.collection-stats .module-content {
  background: #F2F2F2;
  color: #343434;
  padding: 25px 30px 30px 30px;
}
.collection-stats .module-content a {
  color: #188100;
}
.collection-stats .module-content a:hover,
.collection-stats .module-content a:focus {
  color: #188100;
  opacity: 0.7 !important;
  text-decoration: none !important;
}
.collection-stats .collection-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #188100;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
@media (min-width: 1200px) {
  .collection-stats .collection-icon {
    width: 48px;
    height: 48px;
  }
}
.collection-stats .collection-icon.botany {
  mask-image: url('/images/icons/bot.svg');
  -webkit-mask-image: url('/images/icons/bot.svg');
}
.collection-stats .collection-icon.entomology {
  mask-image: url('/images/icons/ent.svg');
  -webkit-mask-image: url('/images/icons/ent.svg');
}
.collection-stats .collection-icon.zoology {
  mask-image: url('/images/icons/zoo.svg');
  -webkit-mask-image: url('/images/icons/zoo.svg');
}
.collection-stats .collection-icon.palaeontology {
  mask-image: url('/images/icons/pal.svg');
  -webkit-mask-image: url('/images/icons/pal.svg');
}
.collection-stats .collection-icon.mineralogy {
  mask-image: url('/images/icons/min.svg');
  -webkit-mask-image: url('/images/icons/min.svg');
}
.collection-stats i {
  margin-right: 5px;
}
.collection-stats .collection-block {
  display: flex;
}
@media (min-width: 992px) {
  .collection-stats .collection-block {
    flex-direction: row;
  }
  .collection-stats .collection-block > * {
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .collection-stats .collection-block .collection-count {
    position: relative;
    left: -1px;
  }
  .collection-stats .collection-block .collection-code {
    font-size: 0 !important;
    margin: 0;
    padding: 0;
  }
  .collection-stats .collection-block .collection-block-text {
    align-items: flex-start;
  }
  .collection-stats .collection-block .collection-block-text > * {
    align-self: flex-start;
  }
}
@media (max-width: 991px) {
  .collection-stats .collection-block {
    flex-direction: column;
  }
  .collection-stats .collection-block > * {
    vertical-align: center;
  }
  .collection-stats .collection-block .default-text {
    font-size: 0;
    margin: 0;
    padding: 0;
  }
}
.collection-stats .collection-block .collection-block-text {
  text-align: center;
}
.collection-stats .collection-block .collection-count {
  font-size: 28px;
}
@media (max-width: 767px) {
  .collection-stats .collection-block .collection-count {
    font-size: 22px;
  }
}
.collection-stats .collection-block .collection-code {
  color: #343434;
  font-size: 12px;
}
.extended-masthead .masthead {
  background: none !important;
}
.extended-masthead,
.masthead {
  background: #188100;
  color: #FFFFFF;
  background-image: linear-gradient(to bottom, transparent, #188100), url("/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.extended-masthead a,
.masthead a {
  color: #FFFFFF;
}
.extended-masthead a:hover,
.masthead a:hover,
.extended-masthead a:focus,
.masthead a:focus {
  color: #BBEDA9;
  text-decoration: none !important;
}
.featured {
  height: 100%;
}
.featured .box-text {
  margin-bottom: 2em;
}
.homepage {
  padding-top: 0;
  padding-bottom: 50px;
}
.homepage .flash-messages div:first-child {
  margin-top: 40px;
}
.homepage .media-image {
  flex-shrink: 0;
  text-align: center;
  padding: 15px !important;
  max-width: 100%;
}
.homepage .media-image img {
  min-width: unset;
  max-width: 100%;
  height: auto;
}
.specimen-collection .module-content {
  background: #F2F2F2;
  color: #343434;
  padding: 20px 30px 0 30px;
}
.specimen-collection .module-content a {
  color: #188100;
}
.specimen-collection .module-content a:hover,
.specimen-collection .module-content a:focus {
  color: #188100;
  opacity: 0.7 !important;
  text-decoration: none !important;
}
.specimen-collection h1 {
  margin: 10px 0 15px 0;
}
.specimen-collection h3 {
  margin: 5px 0;
}
.specimen-collection .module {
  margin-top: 10px;
}
.specimen-collection .module:last-child {
  margin-bottom: 0;
}
.about-doi {
  padding: 20px;
  background: #F2F2F2;
  display: inline-block;
}
#datacite {
  margin: 50px 20px 0 0;
}
ol#credits {
  list-style: none;
  margin-left: 20px;
}
ol#credits li {
  margin: 5px 0;
}
.label[data-format=dwc],
.label[data-format*=dwc] {
  background-color: #71C85B;
  text-transform: uppercase;
}
.package-list th,
.package-list td {
  width: 20%;
  text-align: center;
  vertical-align: middle;
}
.package-list th#package-list-dataset,
.package-list td#package-list-dataset {
  width: 40%;
}
.package-list th:first-child,
.package-list td:first-child {
  text-align: left;
  padding-left: 0;
}
.package-list th:last-child,
.package-list td:last-child {
  padding-right: 0;
}
.ckan-icon-flame {
  display: none !important;
}
.resources h3 {
  font-size: 20px;
  margin-top: 30px;
}
.resource-item {
  border-top: 1px solid #DDDDDD;
  padding: 10px;
}
.resource-item:last-child {
  border-bottom: 1px solid #DDDDDD;
}
.resource-item:hover {
  background-color: transparent;
}
.resource-item .heading {
  color: #188100;
  font-size: 17px;
  font-weight: normal;
}
.resource-item .btn-group {
  display: inherit;
}
.resource-item .format-label {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;
}
.resource-list {
  margin: 0 0 30px 0;
}
.tags {
  margin-bottom: 15px;
}
.tags .well {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tags .tag-list {
  padding-top: 0;
}
.additional-info h3 {
  background: #F2F2F2;
  margin: 0 0 10px 0;
  font-size: 17px;
  padding: 5px;
}
.additional-info thead {
  display: none;
}
.additional-info table,
.additional-info tr,
.additional-info td,
.additional-info th {
  background: transparent !important;
  border: none !important;
}
.citation {
  margin-bottom: 20px;
}
.citation p {
  margin: 4px 6px;
}
.ckanext-datapreview {
  padding-top: 0;
}
.ckanext-datapreview .row form {
  padding-top: 10px;
  padding-bottom: 0;
}
.ckanext-datapreview .row input {
  background: #FFFFFF;
}
.ckanext-datapreview-faceted .module-content {
  background: #F2F2F2;
  color: #434343;
}
.ckanext-datapreview-faceted .resource-view-facets {
  background-color: #F2F2F2;
  padding: 0;
}
@media (min-width: 992px) {
  .ckanext-datapreview-faceted .resource-view-facets {
    border-right: 15px solid #F2F2F2;
  }
}
.ckanext-datapreview-faceted .resource-view-facets .nav-item {
  height: 36px;
  white-space: nowrap;
  border-bottom: 1px solid #FFFFFF;
  padding: 0;
}
.ckanext-datapreview-faceted .resource-view-facets .nav-item.active a {
  background-color: #656565;
}
.ckanext-datapreview-faceted .resource-view-facets .nav-item.active a:before {
  border-left-color: #656565;
}
.ckanext-datapreview-faceted .resource-view-facets .nav-item.active a:after {
  background: none !important;
  content: '\f057';
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  width: auto;
  height: auto;
  right: 5px;
  top: auto;
  margin: 0;
}
.ckanext-datapreview-faceted .resource-view-facets .nav-item a {
  margin: 0;
  padding: 8px 15px;
}
.ckanext-datapreview-faceted .resource-view-facets .module-heading {
  background: #DDDDDD;
}
.ckanext-datapreview-faceted .resource-view-facets .module-footer {
  padding: 0;
  border-top-style: none;
  background: #F2F2F2;
}
.ckanext-datapreview-faceted .resource-view-facets .module-footer a {
  padding: 5px 10px 5px 15px;
  display: block;
  border-bottom: 1px solid #FFFFFF;
}
.dataset-heading a {
  color: #188100;
}
.dataset-map-expanded .primary {
  position: relative;
  top: 20px;
}
.dataset-map-expanded #dataset-map {
  background: #FFFFFF;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .btn {
  background: none;
  color: inherit;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .btn:after {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin-left: 5px;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .cancel {
  color: #890022;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .cancel:hover {
  color: #6E001B;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .cancel:after {
  content: '\f057';
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .apply {
  color: #188100;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .apply:hover {
  color: #0E4609;
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .apply:after {
  content: '\f0a9';
}
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .disabled,
.dataset-map-expanded #dataset-map #dataset-map-edit-buttons .disabled:hover {
  color: #656565;
}
.display-filter .resource-view-filters-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .display-filter .resource-view-filters-wrapper > * {
    flex: 0 1 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .display-filter .resource-view-filters-wrapper > * {
    flex: 1 1 0;
  }
  .display-filter .resource-view-filters-wrapper > *:first-child {
    margin-left: 0;
  }
  .display-filter .resource-view-filters-wrapper > *:last-child {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .display-filter .resource-view-filters-wrapper {
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) {
  .display-filter .resource-view-filters-wrapper {
    flex-wrap: nowrap;
  }
}
.download-tooltip {
  min-width: 290px;
}
.download-tooltip form#mam {
  width: 95%;
  display: none;
  margin: 0;
  padding: 5px;
  background: #F2F2F2;
}
.download-tooltip form#mam input.input-large {
  height: 26px;
}
.facet,
.filter {
  display: inline;
}
#gallery {
  margin-top: 15px;
}
.notes p:last-child {
  margin-bottom: 25px;
}
.recline-query-editor {
  display: none !important;
}
.resource-view {
  margin: 0 0 20px 0;
}
.resource-view-filters > a {
  text-align: center;
  display: block;
}
.resource-view-filters > a:after {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  top: 0;
  left: 5px;
  margin-right: 5px;
  content: "\f055";
}
.resource-view-filter-form {
  background-color: #F2F2F2;
  padding: 15px 15px 7.5px;
}
.resource-view-filter-form .filter-options {
  text-align: center;
}
.resource-view-filter-form .filter-options label:after {
  content: '';
}
.resource-view-filter-form .form-actions {
  clear: both;
  border-top: None;
  padding-bottom: 0;
  position: relative;
}
.resource-view-filter-form .form-actions button {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
.resource-view-filter-form .form-actions .toggle-all-fields {
  float: right;
  margin-right: 30px;
}
.resource-view-filter-form .form-actions .toggle-all-fields label {
  display: inline-block;
  font-weight: normal;
  margin-top: 6px;
  margin-right: 7px;
}
.resource-view-filter-form .form-actions .toggle-all-fields input {
  top: 0;
}
.resource-view-filter-options {
  padding-bottom: 10px;
}
.resource-view-filter-options label {
  font-weight: normal;
  display: inline-block;
  margin: 2px 15px 4px 15px;
}
.resource-view-filter-options label input {
  top: 3px;
  margin-right: 4px;
  position: relative;
}
.resource-view-filter-options label::after {
  content: none;
}
.resource-view-filters-wrapper {
  background: #DDDDDD;
  padding: 10px;
  z-index: 999;
  display: none;
}
@media (min-width: 768px) {
  .resource-view-filters-wrapper {
    position: absolute;
    right: 15px;
    top: 120%;
    width: 45vw;
  }
}
@media (max-width: 767px) {
  .resource-view-filters-wrapper {
    width: 100%;
  }
}
.resource-view-filters-wrapper > * {
  margin: 0 5px;
}
.toggle-view-filters {
  display: block;
  margin: 0 0 0 20px;
  line-height: 40px;
}
@media (min-width: 992px) {
  .toggle-view-filters {
    text-align: right;
  }
}
.toggle-view-filters:hover {
  text-decoration: none;
}
.toggle-view-filters:after {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  top: 0;
  left: 5px;
  margin-right: 5px;
  content: "\f0b0";
}
.module-record {
  margin-top: 0;
}
.external-links {
  margin-bottom: 15px;
}
.external-links ul {
  list-style: none;
}
.external-links .external-link-name {
  cursor: pointer;
}
.external-links li {
  padding: 2px 0;
}
.external-links a.external:before {
  content: '\f002';
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  display: inline-block;
  padding-right: 10px;
}
.activity {
  margin-top: 30px;
}
[data-module="dashboard"] {
  margin-top: 20px;
}
#followee-filter li.active a {
  background: #BBEDA9;
  color: #343434;
}
