/* Theme the grid */

.recline-slickgrid .slick-header-columns .slick-header-column {
    background: #fff!important;
}

.slick-header-column.ui-state-default {
    height: 30px!important;
    line-height: 30px!important;
}

.slick-viewport .slick-row.odd{
    background-color: #f3f3f3!important;
}


ul.slick-contextmenu{
    display: none!important;
}

.controls a.expand {
    display: block;
    float: right;
    margin-right: 6px;
    margin-top: 6px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #228900;
    border-radius: 15px;
}

.controls a.expand:hover {
    color: #000;
    text-decoration: none;
}

/* Fullscreen mode */
body.fullscreen {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body.fullscreen .fa-expand:before {
content: "\f066";
}

body.fullscreen .controls .recline-pager .pagination {
    width: 50%;
}

div.recline-slickgrid div.slick-cell div.dqi-traffic-light{
    width: 100%;
    height: 100%;
    text-align: center;
}

div.recline-slickgrid div.slick-cell div.dqi-traffic-light span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    top:1px;
    border-width: 1px;
    border-style: solid;
}

div.recline-slickgrid div.slick-cell div.dqi-major-errors span {
    background: #DF2621;
    border-color: #A42122;
}

div.recline-slickgrid div.slick-cell div.dqi-minor-errors span {
    background: #FFCF00;
    border-color: #FEB800;
}

div.recline-slickgrid div.slick-cell div.dqi-no-errors span {
    background: #9BD500;
    border-color: #73B100;
}

div.recline-slickgrid div.slick-cell div.dqi-na span,
div.recline-slickgrid div.slick-cell div.dqi-unknown span {
    border-color: #bbb;
}