<section id="dataset-map" class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fas fa-globe-europe"></i>
    {{ _('Filter by location') }}
    <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}" class="action">{{ _('Clear') }}</a>
  </h2>
  {% set map_config = h.get_common_map_config() %}
  <div class="dataset-map" data-module="spatial-query" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
    <div id="dataset-map-container"></div>
  </div>
{#  Need to keep this div for the cancel / apply buttons  #}
 <div id="dataset-map-attribution"></div>
</section>

{% asset 'ckanext-spatial/spatial_query' %}
